/* [BUTTON] TEMPLATES
=====================================*/
.btn {
  border-radius: 4px;
  outline: 2px solid transparent;
  border: 1px solid transparent;
  padding: .375rem .5rem;
  transition: background 100ms ease-in-out;
  font-size: .875rem;
}

/* =====================================
DARK/TRANSPARENT button */
.btn-text-svg:hover {
  background: var(--black0);
}

.btn-transparent:hover svg {
  fill: var(--white2);
}

.btn-text-svg:active {
  background: var(--black1);
  border: 1px solid var(--grey3);
}

.btn-text-svg:focus-visible {
  border: 1px solid transparent;
  outline: 2px solid var(--grey1);
}

.btn:focus {
  outline:none;
  box-shadow:none;
}

/* BUTTON MODIFIERS
=====================================*/
.btn-fixed--width {
  width: 7.5rem;
}

.btn-disabled {
  filter: brightness(.7);
  background: transparent;
  border: 1px solid transparent;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.btn-sm {
  font-size: .75rem;
  padding: .25rem .5rem;
}

.btn-svg,
.btn-svgtxt {
  display: flex;
  align-items: center;
}

.btn-svg {
  justify-content: center;
  padding: 0;
}

.btn-svgtxt {
  justify-content: space-between;
}

.btn-round {
  border-radius: 50%;
}