/* [INPUT] TEMPLATES
=====================================*/
.input {
  border-radius: 4px;
  outline: 2px solid transparent;
  border: 1px solid transparent;
  padding: .375rem .625rem;
  transition: all 100ms ease-in-out;
  font-size: .875rem;
}

.input-dark {
  background: var(--grey2);
  color: var(--white2);
  border: 1px solid var(--grey3);
}

.input-dark:active {
  background: var(--grey2);
  filter: brightness(1.2);
  outline: 2px solid var(--black1);
}

.input-dark:focus-visible {
  outline: 2px solid var(--black1);
  border: 1px solid transparent;
}