.svg-xs {
  height: 1rem;
  width: 1rem;
}

.svg-sm {
  height: 1.25rem;
  width: 1.25rem;
}

.svg-md {
  height: 1.5rem;
  width: 1.5rem;
}

.svg-lg {
  height: 1.75rem;
  width: 1.75rem;
}

.svg-xl {
  height: 3.5rem;
  width: 3.5rem;
}
