<section class="intro-container">
  <div class="intro-header">
    <div class="intro-header__subtitles">
      <h1>chase ottofy</h1>
    </div>
  </div>
  <div class="intro-container--links">
    <a href="mailto:ottofy@zohomail.com" title="Open Mail-to" class="mailto-link" data-tooltip-text="ottofy@zohomail.com"><img src="images/svg/mailto.svg" class="icn-svg" alt>Email</a>
    <a href="https://github.com/chaseottofy" title="Github Profile" target="_blank" rel="noreferrer" data-tooltip-text="github.com/chaseottofy"><img class="icn-svg" src="images/svg/githuboutline.svg" alt>Github</a>
  </div>

  <aside class="intro-observer-ref"></aside>
</section>
<aside class="section-divider" style="z-index: 62 !important;"></aside>
<aside class="section-gradient--l section-divider-top" style="z-index: 61 !important;"></aside>