<section class="intro-container">
  <div class="intro-header">
    <div class="intro-header__subtitles">
      <div class="ihs-row">

        <div class="ihs-col">
          <h1>CHASE</h1>
          <h1 class="ihs-subtitle">OTTOFY</h1>
        </div>

        <div class="ihs-col intro-container--links">
          <a href="mailto:ottofy@zohomail.com" title="Open Mail-to" class="mailto-link" data-tooltip-text="ottofy@zohomail.com"><img src="images/svg/mailto.svg" class="icn-svg" alt>Email</a>
          <a href="https://github.com/chaseottofy" title="Github Profile" target="_blank" rel="noreferrer" data-tooltip-text="github.com/chaseottofy"><img class="icn-svg" src="images/svg/githuboutline.svg" alt>Github</a>
        </div>
      </div>

      <div class="ihs-row">
        <div class="ihs-col">
          <p>Front-end JS Developer with 6 years of work experience. I specialize in delivering performative web applications to exact specifications.</p>
        </div>

        <div class="ihs-col">
          <p>
            Outside of the web I'm skilled with Node, specifically internal tooling and automation. Please reach me through email or the form below.
          </p>
        </div>
      </div>

    </div>
  </div>

  <aside class="intro-observer-ref"></aside>
</section>
<aside class="section-divider" style="z-index: 62 !important;"></aside>
<aside class="section-gradient--l section-divider-top" style="z-index: 61 !important;"></aside>