{
  "root": true,
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": [
    "plugin:unicorn/all",
    "airbnb"
  ],
  "plugins": [
    "unicorn",
    "import",
    "simple-import-sort"
  ],
  "rules": {
    "linebreak-style": 0,
    "no-unused-vars": "error",
    "quote-props": "off",
    "no-restricted-syntax": "off", // allow for...of
    "unicorn/prefer-module": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/no-null": "off",
    "unicorn/no-for-loop": "off",
    "no-console": "off",
    "simple-import-sort/exports": "warn",
    "simple-import-sort/imports": "warn"
  }
}