{
  "root": true,
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": [
    "plugin:unicorn/all",
    "airbnb"
  ],
  "rules": {
    "linebreak-style": 0,
    "no-unused-vars": "error",
    "quote-props": "off",
    "no-restricted-syntax": "off", // allow for...of
    "unicorn/prefer-module": "off",
    "unicorn/prevent-abbreviations": "off",
    // "unicorn/prefer-dom-node-dataset": "off",
    // "unicorn/prefer-node-protocol": "off",
    "unicorn/no-null": "off",
    "unicorn/no-for-loop": "off",
    "no-console": "off",
    // "unicorn/no-array-for-each": "off",
    "unicorn/no-unsafe-regex": "off"
  }
}