/* FOOTER
============================ */
.project-cell__footer {
  position: relative;
  z-index: 999;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;

  /* padding: .75rem .5rem .5rem .5rem; */
  padding: 1rem .5rem .75rem .5rem;
  border-radius: 0 0 var(--br-4) var(--br-4);

  /* border-top: 2px solid var(--black1);  */

  /* background-color: var(--offsetblack2); */
  background-color: rgb(0 0 0 / .2);
  margin-top: -4.5rem;
  backdrop-filter: blur(16px) saturate(180%) contrast(1.25) opacity(.8);
}

.project-footer__titles {
  display: flex;
  height: 100%;
  color: #f7f5f5 !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .5rem .5rem 0 .5rem;
  padding-top: 1.75rem;
}

.project-footer__desc {
  position: relative;
  display: flex;
  width: 70%;
  height: 100%;
  min-height: 2.75rem;
  padding-right: 1rem;
  font-size: 1.05rem;
  font-weight: 400 !important;
  opacity: .9;

  /* transform: translateY(-.25rem); */
}

.pf-stacks {
  position: relative;
  display: flex;
  width: auto;
  align-items: center;
}

.pf-stack {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: var(--br-half);
  margin-left: .75rem;
}

.pf-stack::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 12px solid transparent;
  border-radius: var(--br-half);
  border-image: linear-gradient(to right bottom, #888, #0e0e0f, #000);
  border-image-slice: 1;
  content: "";
}

.pf-stack::after {
  position: absolute;
  z-index: 2;
  width: 96%;
  height: 96%;
  border-radius: var(--br-half);
  margin: 0 auto;
  background-color: #000;
  content: "";
}

.vanilla-icon,
.typescript-icon,
.react-icon,
.next-icon,
.webpack-icon,
.vite-icon {
  position: relative;
  z-index: 3;
  width: 32px;
  height: 32px;
  filter: contrast(1.1) brightness(1.1);
}

.project-footer__content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 .5rem .25rem .5rem;
  margin: 0 auto;
  z-index: 100;
}

.project-footer__title {
  position: relative;
  display: flex;
  min-height: 1.75rem;
  align-items: center;
  padding: .5rem 2rem .75rem 0;
  color: #e7ecf4 !important;
  text-shadow: 1px 1px 15px rgb(4 4 4 / .6);
  font-family: var(--font2);
  font-size: 1.35rem;
  font-weight: 900;
  letter-spacing: .05em;
  opacity: .95;
  transform: scaleY(1.25) translateY(.4rem);
}

.project-footer-btns {
  padding-top: .5rem;
  display: flex;
  align-items: center;
}

.project-footer-btns button {
  color: #f7f5f5;
  position: relative;
  overflow: hidden;
  padding: .75rem 1rem;
  border-radius: var(--br-1);
  font-size: .95rem;
  white-space: nowrap;
  border: 1px solid #222;
  background: linear-gradient(to bottom, #000, #111);
}

.project-footer-btns button:hover {
  filter: invert(1);
}

@media screen and (max-width: 840px) {
  .project-footer__content {
    padding-top: 1rem;
  }

  .project-footer__title {
    font-size: 1.25rem;
    width: 100%;
    padding: 0.5rem 0 0.75rem 0;
  }

  .project-footer__desc {
    display: none;
  }

  .project-footer-btns button {
    font-size: .8rem;
    transform: translateY(.5rem);
  }

  .pf-stacks {
    margin-left: auto;
  }

  .project-footer-btns {
    transform: translateY(100%);
    padding: 0;
  }

  .project-cell__footer {
    padding-top: 0;
  }

  .project-footer__titles {
    padding-top: .5rem;
    transform: translateY(-1.25rem);
  }
}

@media screen and (max-width: 640px) {
  .project-footer__title {
    font-size: 4vw;
  }
}