/* SECTION: ECTS
============================*/
.projects-container {
  width: 100%;
  /* background: linear-gradient(to bottom,
      var(--black0) 0%,
      var(--accent-1) 20%,
      var(--black4) 40%,
      var(--black0) 80%,
      transparent); */
  background: linear-gradient(to bottom,
      var(--black0) 0,
      hsla(0, 0%, 100%, 0) 100%),
    linear-gradient(180deg,
      var(--offsetblack1) 0,
      var(--offsetsecondary1) 100%);
  background-size: 100% 100%, 100% 100%, 1440px 1px;
  background-position: botton;
  background-repeat: no-repeat;
  z-index: 9999;
  /* background: linear-gradient(to bottom,
  var(--black0) 20%,
  var(--black4) 40%,
  var(--black0) 80%,
  transparent); */
  position: relative;
}

.projects-container .section-title {
  padding-top: 4rem;
  opacity: 0;
}

.projects-grid {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: var(--maxWidthMd);
  padding: 0 1rem;
}

.project-divider {
  height: 6rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-line {
  height: 4rem;
  border-left: 2px dotted var(--accent-2);
  margin: 0 auto;
}

@media screen and (max-width: 490px) {
  .projects-grid {
    padding: .5rem;
  }
}