.project-content__body {
  background: var(--black0);
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

/* .project-image__calendar,
.project-image__markdown,
.project-image__components {
  aspect-ratio: calc(16/9);
} */

.project-image__calendar img,
.project-image__markdown img,
.project-image__components img {
  aspect-ratio: calc(16/9);
  width: 100%;
  object-fit: cover;
  object-position: top center;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.project-image__calendar img,
.project-image__components img,
.project-image__markdown img {
  filter: grayscale(20%) contrast(112%);
}

/* .project-image__components::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  background: rgba(42, 43, 46, 0.2);
}

.Light__mode .pcb-comp::after {
  background: rgba(42, 43, 46, 0);
} */

/* .pcb-cal,
.pcb-comp {
  filter: grayscale(20%) contrast(120%);
}

.pcb-mark {
  filter: grayscale(20%) contrast(112%);
} */

/* .project-image__markdown {
  aspect-ratio: calc(2560/1096);
}

.project-image__components {
  aspect-ratio: calc(2560/1096);
} */

.hide-img {
  pointer-events: none;
  user-select: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: -1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.fade-img--in {
  animation: fade-img .2s both;
}

.img-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-img {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 640px) {
  /* .project-image__calendar,
  .project-image__markdown,
  .project-image__components {
    aspect-ratio: calc(4/3);
  } */

  .project-image__calendar img,
  .project-image__markdown img,
  .project-image__components img {
    aspect-ratio: calc(4/3);
  }
}