.project-cell {
  width: 100%;
  box-shadow: var(--bs-lg);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  border: 1px solid var(--black2);
  background: var(--black0);
}

.project-cell__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.project-content__header {
  height: 2.375rem;
  width: 100%;
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
  justify-content: center;
  background: var(--black4);
  position: relative;
  z-index: 2;
}

.pc__header-decoration {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 2rem;
}

.header-decoration--sm {
  border: none;
  height: 100%;
}

/* background:radial-gradient(circle farthest-side at 50% 50%, var(--colors-purple700) 0%, transparent 100%)} */

.pc__header-decoration span {
  height: .625rem;
  width: .625rem;
  border-radius: 50%;
}

.pc__header-decoration span:hover {
  transform: scale(1.2);
  transition: var(--tt1);
}

/* TABS
============================*/
.pc__header-tabs {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.pc__header-tabs span {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.pc__header-tabs span label {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: .75rem;
  letter-spacing: -.5px;
  color: var(--white2);
  font-weight: 500;
  width: 100%;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  border-right: 1px solid var(--black2);
  position: relative;
  border-top: 2px solid transparent;
  border-bottom: 2px solid var(--black4);
}

.pc__header-tabs span label::after {
  content: attr(data-lab-after);
}

.pc__header-tabs span:last-child label {
  border-right: none;
}

.pc__header-tabs span label:hover,
.pc__header-tabs span label:focus-visible {
  opacity: .8;
  transition: var(--topac1);
}

.pc__header-tabs span input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  position: absolute;
  z-index: -1;
}

.pc__header-tabs span input:checked + label {
  box-shadow: inset 0 0 10px 8px rgba(74, 74, 74, 0.1);
  background: var(--black0);
  border-bottom: 2px solid var(--accent-5);
  /* border-image: linear-gradient(to bottom,
      transparent 0%,
      var(--offsetblack2) 20%,
      #2c3970);
  border-image-slice: 1; */
}

.pc__header-tabs span input:checked + label::before {
  position: absolute;
  top: .5rem;
  right: 1rem;
  height: .3rem;
  width: .3rem;
  border-radius: 50%;
  background: var(--blue1);
  content: "";
  /* animation: pulse 2s ease-in-out infinite; */
}

/* SUBHEADER CONTENT (search/githublink/lighthouse button)
============================*/
.project-content__subheader {
  height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 .75rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  position: relative;
  z-index: 1;
}

/* SUBHEADER SEARCH */
.pc__subheader--search {
  width: 100%;
  height: 1.825rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--bs-md);
  background: var(--accent-1);
  font-size: .875rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  justify-content: space-between;
  position: relative;
}

.pc__subheader--search a {
  width: 100%;
  position: relative;
  color: var(--white2);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 .75rem 0 .5rem;
}

.comp-search--text {
  text-transform: capitalize;
}

.pc__subheader--search a:first-child img {
  height: .5rem;
  width: .5rem;
  margin: 0 .5rem 0 .25rem;
  opacity: .5;
}

.pc__subheader--search a:hover {
  color: var(--blue1);
}

.pc__subheader--search .search-arrowright {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2rem;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
}

.pc__subheader--search .search-arrowright img {
  height: .75rem;
  width: .75rem;
}

/* .pc__subheader--search a::after {
  content: attr(data-search-after);
} */

/* SUBHEADER LINKS */
.pc__subheader--links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.pc__subheader--links a,
.pc__subheader--links button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  cursor: pointer;
  border-radius: 5px;
}

.pc__subheader--links img {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--white1);
}

.vert {
  height: 100%;
  width: 1px;
  background: transparent;
  margin: 0 .25rem;
}

.pc__subheader--links a:hover,
.pc__subheader--links button:hover {
  background: var(--accent-1);
  transition: var(--tbg1);
}

.subheader-sm {
  height: 2.75rem;
}

/* QUERIES
============================*/
@media screen and (max-width: 768px) {
  .project-content__header {
    grid-template-columns: 4rem 1fr;
  }

  .pc__header-decoration span {
    height: .5rem;
    width: .5rem;
  }

  .pc__header-tabs span label {
    letter-spacing: -.5px;
  }

  .project-content__subheader {
    padding: 0 .75rem;
  }
}

@media screen and (max-width: 640px) {
  .pc__subheader--search a:first-child img {
    display: none;
  }

  .pc__subheader--search .search-arrowright {
    display: none;
  }

  .pc__header-tabs span label::after {
    display: none;
  }
}

@media screen and (max-width: 490px) {
  .project-cell--title {
    text-align: center;
  }

  .subheader-sm {
    height: 2.5rem;
  }

  .pc__header-tabs span input:checked + label::before {
    right: .375rem;
    top: .375rem;
  }
}