/* background: linear-gradient(to top,
    var(--black0) 0,
    hsla(0, 0%, 100%, 0) 100%),
  linear-gradient(180deg,
    var(--black0) 0,
    var(--offsetsecondary1) 20%);
background-size: 100% 100%, 100% 100%, 1440px 1px;
background-position: bottom;
background-repeat: no-repeat; */
/* SECTION: ECTS
============================ */
.projects-container {
  position: relative;
  z-index: 50;
  width: 100%;
  background: var(--black0);
  scroll-margin-top: 4rem;
}

.projects-container .section-title {
  padding: 2rem 0 1rem 0;
}

.projects-grid {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  max-width: var(--max-width-md);
  height: 100%;
  flex-direction: column;
  padding: 0 .5rem;
  margin: 0 auto;
}

@media screen and (max-width: 490px) {
  .projects-grid {
    padding: .5rem;
  }
}