.project-image__calendar,
.project-image__markdown {
  width: 100%;
  background-repeat: no-repeat;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  background-size: cover;
}

.project-image__calendar {
  aspect-ratio: 1.6;
  position:relative;
  filter:brightness(1.1);
}

.project-image__markdown {
  aspect-ratio: 2.4;
}

.project-image__calendar::after {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  content: "";
  /* background: rgba(0,0,0,.5); */
  /* backdrop-filter: blur(10px); */
  /* opacity: .2;  */
}


.project-image__markdown::after {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  content: "";
  background: rgba(0,0,0,.5);
  backdrop-filter: blur(6px);
  opacity: .2; 
}

.hide-img {
  opacity: 1;
  pointer-events: none;
  user-select: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: -1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ------------------------ */
/* CALENDAR IMAGES
============================*/
.cal-cell__image--1 {
  /* background-image: url("../../../images/projects/calendar/dark_sm/c1.webp"); */
  background-image: url("../../../images/projects/calendar/dark_lg/c1.webp");
}

.cal-cell__image--2 {
  /* background-image: url("../../../images/projects/calendar/dark_sm/c2.webp"); */
  background-image: url("../../../images/projects/calendar/dark_lg/c2.webp");
}

.cal-cell__image--3 {
  /* background-image: url("../../../images/projects/calendar/dark_sm/c3.webp"); */
  background-image: url("../../../images/projects/calendar/dark_lg/c3.webp");
}

.cal-cell__image--4 {
  /* background-image: url("../../../images/projects/calendar/dark_sm/c4.webp"); */
  background-image: url("../../../images/projects/calendar/dark_lg/c4.webp");
}

.cal-cell__image--5 {
  /* background-image: url("../../../images/projects/calendar/dark_sm/c5.webp"); */
  background-image: url("../../../images/projects/calendar/dark_lg/c5.webp");
}

/* CALENDAR LIGHT MODE */
.theme__light .cal-cell__image--1 {
  background-image: url("../../../images/projects/calendar/light_lg/lightc1.webp");
  /* background-image: url("../../../images/projects/calendar/light_sm/lightc1.webp"); */
}

.theme__light .cal-cell__image--2 {
  background-image: url("../../../images/projects/calendar/light_lg/lightc2.webp");
  /* background-image: url("../../../images/projects/calendar/light_sm/lightc2.webp"); */
}

.theme__light .cal-cell__image--3 {
  background-image: url("../../../images/projects/calendar/light_lg/lightc3.webp");
  /* background-image: url("../../../images/projects/calendar/light_sm/lightc3.webp"); */
}

.theme__light .cal-cell__image--4 {
  background-image: url("../../../images/projects/calendar/light_lg/lightc4.webp");
  /* background-image: url("../../../images/projects/calendar/light_sm/lightc4.webp"); */
}

.theme__light .cal-cell__image--5 {
  background-image: url("../../../images/projects/calendar/light_lg/lightc5.webp");
  /* background-image: url("../../../images/projects/calendar/light_sm/lightc5.webp"); */
}

/* ------------------------ */
/* MARKDOWN IMAGES
============================*/
.mark-cell__image--1 {
  background-image: url("../../../images/projects/markdown/mkdark1.webp");
}

.mark-cell__image--2 {
  background-image: url("../../../images/projects/markdown/mklight1.webp");
}

/* .cal-current {
  animation: load-image .3s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes load-image {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */

/* background-image: image-set(
"../../../images/projects/calendar/c1.webp" 1x,
"../../../images/projects/calendar/thumbcal1.webp" 2x
); */