.project-cell {
  width: 100%;
  box-shadow: var(--bs-lg);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  border: 1px solid var(--black2);
  background: var(--black0);
}

.project-cell__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.project-content__header {
  height: 2.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 6rem 1fr;
  align-items: center;
  justify-content: center;
  background: var(--black4);
  position: relative;
  z-index: 2;
}

.pc__header-decoration {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 2rem;
}

.header-decoration--sm {
  border: none;
  height: 100%;
}

/* background:radial-gradient(circle farthest-side at 50% 50%, var(--colors-purple700) 0%, transparent 100%)} */

.pc__header-decoration span {
  height: .75rem;
  width: .75rem;
  border-radius: 50%;
}

.pc__header-decoration span:hover {
  transform: scale(1.2);
  transition: var(--tt1);
}

/* TABS
============================*/
.pc__header-tabs {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.pc__header-tabs span {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.pc__header-tabs span label {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: .875rem;
  letter-spacing: -.5px;
  color: var(--white1);
  background: var(--black0);
  opacity: .9;
  font-weight: 500;
  width: 100%;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  border-right: 1px solid var(--black2);
  position: relative;
  border-bottom: 1px solid var(--black4);
}

.pc__header-tabs span label::after {
  content: attr(data-lab-after);
}

.pc__header-tabs span:last-child label {
  border-right: none;
}

.pc__header-tabs span label:hover,
.pc__header-tabs span label:focus-visible {
  opacity: .8;
  transition: var(--topac1);
}

.pc__header-tabs span input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  position: absolute;
  z-index: -1;
}

.pc__header-tabs span input:checked + label {
  box-shadow: var(--bs-inset1);
  background: var(--black0);
}

.pc__header-tabs span input:checked + label::before {
  position: absolute;
  top: .5rem;
  right: .5rem;
  height: .35rem;
  width: .35rem;
  border-radius: 50%;
  background: var(--blue1);
  content: "";
  animation: pulse 2s ease-in-out infinite;
}

/* SUBHEADER CONTENT (search/githublink/lighthouse button)
============================*/
.project-content__subheader {
  height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .75rem;
  position: relative;
  z-index: 1;
}

.subheader-sm {
  height: 3.5rem;
}

/* SUBHEADER SEARCH */
.pc__subheader--search {
  width: 100%;
  max-width: 75%;
  height: 2.125rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--bs-inset2);
  background: var(--accent-1);
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  justify-content: flex-start;
  position: relative;
}

.pc__subheader--search a {
  width: 100%;
  position: relative;
  color: var(--white1);
  opacity: .9;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1000;
  padding: 0 3rem 0 .5rem;
}

.comp-search--text {
  text-transform: capitalize;
}

.pc__subheader--search a:first-child img {
  height: .625rem;
  width: .625rem;
  margin: 0 .5rem 0 .25rem;
  pointer-events: none;
  user-select: none;
  opacity: .5;
}

.pc__subheader--search:hover {
  filter: brightness(1.2);
}

.pc__subheader--search a:hover {
  color: var(--blue1);
}

.pc__subheader--search .search-arrowright {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2rem;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
}

.pc__subheader--search .search-arrowright img {
  height: .875rem;
  width: .875rem;
}

/* SUBHEADER LINKS */
.pc__subheader--links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 0 0 0 2rem;
}

.pc__subheader--links a {
  display: flex;
  justify-content: center;
  height: 2.25rem;
  width: 2.25rem;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  color: var(--white1);
}

.pc__subheader--links img {
  height: 2rem;
  width: 2rem;
  color: var(--white1);
}

.vert {
  height: 100%;
  width: 1px;
  background: transparent;
  margin: 0 .5rem;
}

.pc__subheader--links a:hover,
.pc__subheader--links button:hover {
  background: var(--accent-1);
  transition: var(--tbg1);
}

@media screen and (max-width: 640px) {
  .pc__header-tabs span label::after {
    display: none;
  }

  .pc__header-tabs span label {
    text-transform: uppercase;
    font-weight: 500;
    transform: scaleY(.86);
  }  
  
  .pc__header-tabs span input:checked + label::before {
    display: none;
  }
}

@media screen and (max-width: 490px) {
  .project-content__header {
    grid-template-columns: 4.5rem 1fr;
  }

  .pc__subheader--search {
    font-size: .875rem;
  }

  .project-calendar .pc__header-tabs span label {
    font-size: .75rem;
  }

  .pc__header-decoration span {
    height: .675rem;
    width: .675rem;
  }
  
  .calendar-tabs span label {
    color: transparent;
    overflow:hidden;
    text-align: center;
  }

  .calendar-tabs span label::after {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    font-size: .875rem;
    justify-content: center;
    content: attr(data-lab-sm);
    color: var(--white1);
  }
}