<aside class="section-divider"></aside>
<article class="section-container contact-container" id="contact-top">

  <div class="contact-menu__body">
    <!-- LEFT -->
    <div class="cm-left">
      <div class="cm-left__header">
        <h3>Contact /</h3>
        <h3>Links</h3>
      </div>
      <div class="cm-left__body"></div>
      <div class="cm-left__footer">
        <div class="cm-left__footer-relocate">
          willing to relocate
        </div>
        <div class="cm-left__footer-location">
          <span>Colorado</span>
          <span class="cm-left--time">MST: 12:00 AM</span>
        </div>
      </div>
    </div>
    <!-- RIGHT -->
    <div class="cm-right">
      <div class="cm-right--top">
        <!-- GITHUB BADGE -->
        <div class="cm-right--top__cell badge-github">
          <a class="cm-right--top__cell-badge" href="https://github.com/chaseottofy" title="Github Profile" target="_blank" rel="noreferrer">
            <div class="badge-top">
              <div class="badge-top--profile">
                <div class="badge-top--container--svg">
                  <img class="img-icon cm-body--img" src="images/svg/githuboutline.svg" alt>
                </div>
                <span data-acc="@chaseottofy">@chaseottofy</span>
              </div>
            </div>
            <div class="badge-footer">
              <img class="img-icon" src="images/svg/bentarrow.svg" alt>
              <span>Github</span>
            </div>
          </a>
        </div>

        <!-- YOUTUBE BADGE-->
        <div class="cm-right--top__cell badge-youtube">
          <a class="cm-right--top__cell-badge" href="https://www.youtube.com/channel/UCawR0cR_xHGCnKy3Vg6yc7g" title="YouTube channel" target="_blank" rel="noreferrer">
            <div class="badge-top">
              <div class="badge-top--profile">
                <img class="badge-mug cm-body--img" src="images/mugshot/YTmug1.webp" style="height:3rem;width:3rem;"  alt>
                <span class="badge-prof" data-acc="3.6k subs" data-bef="">@otto-fy</span>
              </div>
            </div>

            <div class="badge-footer">
              <img class="img-icon" src="images/svg/bentarrow.svg" alt>
              <span>YouTube</span>
            </div>
          </a>
        </div>

        <!-- CODEPEN BADGE -->
        <div class="cm-right--top__cell badge-codepen">
          <a class="cm-right--top__cell-badge" href="https://codepen.io/chaseottofy" title="Codepen Profile" target="_blank" rel="noreferrer">
            <div class="badge-top">
              <div class="badge-top--profile">
                <div class="badge-top--container--svg">
                  <img class="img-icon cm-body--img" src="images/svg/codepen.svg" alt>
                </div>
                <span data-acc="@chaseottofy">@chaseottofy</span>
              </div>
            </div>

            <div class="badge-footer">
              <img class="img-icon" src="images/svg/bentarrow.svg" alt>
              <span>Codepen</span>
            </div>
          </a>
        </div>

        <!-- CODEWARS BADGE -->
        <div class="cm-right--top__cell badge-codewars">
          <a class="cm-right--top__cell-badge" href="https://www.codewars.com/users/protto" title="Codewars Profile" target="_blank" rel="noreferrer">
            <div class="badge-top">
              <div class="badge-top--profile">
                <img class="badge-mug cm-body--img" src="images/mugshot/codewarsmug1.webp" style="height:3rem;width:3rem;" alt>
                <span class="badge-prof" data-acc="Top 0.2%" data-bef="#1,200">@protto</span>
              </div>
            </div>

            <div class="badge-footer">
              <img class="img-icon img-bent-arrowsrc" src="images/svg/bentarrow.svg" alt>
              <span>Codewars</span>
            </div>
          </a>
        </div>
      </div>

      <div class="cm-right--bottom cm-right--bottom__body">
        <div class="cm-right--bottom__cell">
          <span>ottofy@zohomail.com</span>
          <div class="cm-right--bottom__cell-icons">
            <a class="mailto-link cm-email-goto" href="mailto:ottofy@zohomail.com" title="Open Mail-to">
              <img class="img-icon cm-img--icon" src="images/svg/mailto.svg" alt="mail">
            </a>
            <button class="cm-copy cm-copy--email" title="Copy E-mail address" aria-label="button">
              <img class="img-icon cm-img--icon" src="images/svg/copy.svg" alt="copy">
            </button>
          </div>
        </div>

        <div class="cm-right--bottom__cell">
          <span>970-988-2548</span>
          <div class="cm-right--bottom__cell-icons">
            <button class="cm-copy cm-copy--phone" data-text="9709882548" title="Copy Phone Number" aria-label="button">
              <img class="img-icon" src="images/svg/copy.svg" alt>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>