/* SECTION: ABOUT
============================*/
.about-container {
  min-height: 400px;
  background: linear-gradient(180deg, transparent 20%, var(--offsetgrey1) 90%);
  margin-top: -1rem;
  /* padding-bottom: 6rem !important; */
  scroll-margin-top: 4rem;
}