/* SECTION: ABOUT
============================*/
.about-container {
  width: 100%;
  scroll-margin-top: 4rem;
}

.about-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  margin-top: 4rem;
  padding: 1rem;
}