.contact-container {
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  width: 100%;
  position: relative;
  padding-left: .75rem;
  padding-right: .75rem;
  background: var(--black0);
  z-index: 3;
}

.contact-menu {
  display: flex;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 580px;
  width: 90%;
  height: 500px;
  border-radius: 14px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  z-index: -1;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  backdrop-filter: blur(12px);
  opacity: 0;
  transition-property: background, opacity, box-shadow, border, z-index;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.contact-menu--active {
  z-index: 9999;
  background: var(--offsetgrey3);
  opacity: 1;
  border: 1px solid var(--black2);
  box-shadow: var(--bs-md);
  pointer-events: auto;
  user-select: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
}

.contact-menu__header {
  flex-direction: column;
  min-height: 400px;
  margin: 0 auto;
  width: 100%;
  max-height: 90%;
  overflow: hidden;
}

.contact-menu__body {
  display: grid;
  min-height: 640px;
  height: 100%;
  grid-template-columns: min(380px, 40%) 1fr;
  padding: 2rem 2px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  border-radius: 20px;
  position: relative;
}

.contact-menu__body--gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,
      transparent,
      var(--grey3) 10%,
      var(--grey1) 20%,
      transparent);
  opacity: .5;
  /* display:none; */
}

/* LEFT GRID SECTION -- ONLY IN <MAIN> <CONTACT />
=====================================*/
.cm-left {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 128px;
  padding-right: 1rem;
  row-gap: .5rem;
}

.cm-left__header,
.cm-left__body,
.cm-left__footer {
  width: 100%;
  height: 100%;
  display: flex;
}

/* ---------------- */
/* LEFT GRID HEADER */
.cm-left__header {
  flex-direction: column;
  padding: 4px 0;
}

.cm-left__header h3 {
  font-family: var(--primaryFont);
  padding-left: 6px;
  font-weight: 700;
  font-size: 1rem;
  line-height: .875rem;
  letter-spacing: -.5px;
}

.cm-left__header h3,
.cm-left__header span {
  color: var(--white1);
}

.cm-left__header span {
  padding-left: 8px;
  letter-spacing: -.5px;
  font-size: .75rem;
  line-height: .75rem;
  font-family: var(--primaryFont);
  font-weight: 500;
  padding-top: 4px;
  transform: scaleY(.9);
}

/* ---------------- */
/* LEFT BODY SECTION */
.cm-left__body {
  position: relative;
  border-radius: var(--gap1);
  overflow: hidden;
}

.cm-left__body-avatar {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url('../../images/mugshot/avatar2.webp');
  /* filter: contrast(1.2) brightness(.9); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.cm-left__body::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 1); */
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0) 100%),
    rgba(255, 255, 255, 0.9) 40%;
  /* mix-blend-mode: overlay; */
  /* mix-blend-mode: normal; */
  /* mix-blend-mode: multiply; */
  /* mix-blend-mode: screen; */
  /* mix-blend-mode: overlay; */
  /* mix-blend-mode: darken; */
  /* mix-blend-mode: lighten; */
  /* mix-blend-mode: color-dodge; */
  /* mix-blend-mode: color-burn; */
  /* mix-blend-mode: hard-light; */
  /* mix-blend-mode: soft-light; */
  /* mix-blend-mode: difference; */
  /* mix-blend-mode: exclusion; */
  /* mix-blend-mode: hue; */
  /* mix-blend-mode: saturation; */
  /* mix-blend-mode: color; */
  /* mix-blend-mode: luminosity; */
  content: "";
}

/* .theme__dark .cm-left__body-avatar {
  background: url('../../images/mugshot/avatar1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .3;
} */

/* ---------------- */
/* LEFT FOOTER SECTION */
.cm-left__footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.cm-left__footer-relocate {
  padding: 2px 8px;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: .825rem;
  justify-content: center;
  height: 100%;
}

.cm-left__footer-location {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  width: 100%;
  font-size: .75rem;
  padding: 6px 8px 2px 8px;
  height: 100%;
  border-top: 1px solid var(--black2);
}

.cm-left__footer-location a {
  background: transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  justify-content: center;
  border: 1px solid var(--black2);
  cursor: pointer;
  margin-left: auto;
}

.cm-left__footer-location a:hover {
  background: var(--black1);
}

.cm-left__footer-location img {
  height: .825rem;
  width: .825rem;
}

/* RIGHT GRID SECTION
=====================================*/
.cm-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 100%;
  width: 100%;
}

/* ---------------- */
/* RIGHT TOP SECTION */
.cm-right--top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
  background: var(--black2);
  overflow: hidden;
}

.cm-right--top__cell {
  display: flex;
  flex-direction: column;
  background: var(--black4);
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.cm-right--top__cell:nth-child(odd) {
  border-right: 1px solid var(--black2);
}

.cm-right--top__cell:nth-child(-n + 2) {
  border-bottom: 1px solid var(--black2);
}

.cm-right--top__cell-badge {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: 100%;
  padding: 1.5rem;
  width: 100%;
  color: var(--white1);
  cursor: pointer;
}

.badge-top {
  height: 100%;
  width: 100%;
}

.badge-top--container--svg {
  min-width: 2.5rem;
  min-height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 1px var(--white2);
}

.badge-top--container--svg img {
  filter: invert(1);
  height: 1.5rem;
  width: 1.5rem;
}

.badge-top--profile {
  display: flex;
  max-height: 3rem;
  font-size: .75rem;
}

.badge-top span {
  width: 100%;
  text-align: end;
  margin-left: auto;
  color: transparent;
  transition: color .2s ease-in-out;
}

.badge-prof {
  position: relative;
}

.badge-prof::after {
  position: absolute;
  content: attr(data-acc);
  font-size: .7rem;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: var(--white1);
  transition: top .2s ease-in-out;
}

.badge-prof::before {
  position: absolute;
  content: attr(data-bef);
  font-size: .625rem;
  top: 1rem;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: var(--white1);
  transition: top .2s ease-in-out;
}

.cm-right--top__cell:hover {
  background: var(--black3);
  transition: background 150ms ease-in-out;
}

.cm-right--top__cell:hover .badge-top--profile span {
  color: var(--white1);
}

.cm-right--top__cell:hover .badge-prof::after {
  top: 1.5rem;
}

.cm-right--top__cell:hover .badge-prof::before {
  top: 2.5rem;
}

.cm-right--top__cell:hover .badge-footer span:last-child {
  transform: translateX(10%);
  transition: transform 150ms ease-in-out;
}

.yt-mug {
  min-height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  background-image: url("../../images/mugshot/YTmug1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cw-mug {
  min-height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  background-image: url("../../images/mugshot/codewarsmug1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.badge-footer {
  display: flex;
  align-items: center;
  height: 1.75rem;
  width: 100%;
  font-size: .875rem;
  letter-spacing: -.5px;
  font-weight: 500;
}

.badge-footer img {
  fill: none;
  height: .875rem;
  width: .875rem;
  filter:invert(1);
  margin-right: .5rem;
  margin-left: .25rem;
}

/* ---------------- */
/* RIGHT BOTTOM SECTION */
.cm-right--bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.contact-menu__body .cm-right {
  border-radius: var(--gap1);
  overflow: hidden;
  border: 1px solid var(--black2);
}

.cm-right--bottom__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cm-right--bottom__cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  border-top: 1px solid var(--black2);
  background: var(--offsetblack2);
  height: 100%;
  width: 100%;
  padding: 2px var(--gap1);
  font-size: .825rem;
  font-weight: 500;
}

.cm-right--bottom__cell-icons {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.cm-copy,
.cm-email-goto {
  background: var(--black1);
  border: 1px solid var(--black2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 2.25rem;
  width: 2.5rem;
  justify-content: center;
}

.cm-copy {
  margin-left: .875rem;
}

.cm-copy:hover,
.cm-email-goto:hover {
  background: var(--black2);
}

.cm-copy img,
.cm-email-goto img {
  height: .825rem;
  width: .825rem;
}

.contact-menu__header a,
.contact-menu__header button {
  appearance: none;
  -webkit-appearance: none;
  pointer-events: none;
  user-select: none;
}

.contact-menu--active a,
.contact-menu--active button {
  pointer-events: auto;
  user-select: auto;
  appearance: auto;
  -webkit-appearance: auto;
}

@media screen and (max-width: 768px) {
  .contact-menu__body {
    min-height: 580px;
  }

  .contact-menu,
  .contact-menu__header {
    max-width: 480px;
    width: 90%;
  }

  .cm-right--top__cell-badge {
    padding: .5rem;
  }

  .yt-mug,
  .cw-mug,
  .badge-top--container--svg {
    min-height: 2rem;
    min-width: 2rem;
  }

  .badge-top--container--svg img {
    height: 1.25rem;
    width: 1.25rem;
  }
}

@media screen and (max-width: 560px) {
  .contact-menu__header {
    display: none;
  }

  .contact-menu__body {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 1fr;
    padding: .25rem;
  }

  .cm-left {
    border: none;
    display: flex;
    flex-wrap: wrap;
    padding: 6px 2px;
  }

  .cm-left__header {
    width: 100%;
    height: 20%;
  }

  .cm-left__header h3 {
    padding: 0;
  }

  .cm-left__header span {
    padding: 2px;
  }

  .cm-left__body,
  .cm-left__footer {
    width: 50%;
    height: 80%;
  }

  .cm-left__body-avatar {
    max-width: 200px;
    height: 100%;
    width: 100%;
  }

  .cm-left__footer-relocate {
    display: none;
  }

  .cm-left__footer-location {
    border: none;
    height: 70%;
  }

  .cm-left__footer-location a {
    height: 1.5rem;
  }
}