/* SECTION: INTRO
============================ */
.intro-container {
  height: calc(78vh + 2px);
  position: relative;
  z-index: 101;
}

.intro-header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.intro-header__subtitles {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--maxWidthMd);
  flex-direction: column;
  padding-top: 3rem;
}

.intro-header__subtitles h1 {
  font-size: max(40px, 4.1667vw);
  letter-spacing: .04em;
  line-height: .95;
  position: relative;
  width: auto;
  padding-top: 2rem;
  text-wrap: nowrap;
  font-family: var(--secondaryFont);
  background: rgba(0, 0, 0, 0);
  color: #e3e5e9;
  opacity: .9;
}

.intro-header__subtitles h1::before {
  content: 'webdev';
  position: absolute;
  letter-spacing: .03rem;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  padding-top: .5rem;
  padding-right: 1rem;
  color: transparent;
  background-clip: text;
  -webkit-text-stroke: 1px #d0d3e4;
}

.intro-container--links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 4rem;
  width: 100%;
}

.intro-container--links a {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  font-size: .875rem;
  background: #080808;
  color: #fff;
  border: 1px solid #0e0e0f;
  border-radius: 6px;
  height: 2.25rem;
  margin: 0 .5rem;
}

.intro-container--links a img {
  height: 1rem;
  width: 1rem;
  pointer-events: none;
  user-select: none;
  margin-right: .5rem;
  filter: invert(1);
}

.intro-container--links a:hover {
  transition-property: color, background-color, border-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
  background: hsla(240deg 3.7% 15.9%);

  /* background: rgba(255, 255, 255, .1); */
  border-color: hsla(255deg 3.7% 15.9%);
}

@media screen and (max-width: 720px) {
  .intro-header__subtitles h1 {
    font-size: max(28px, 3.2vw);
  }

  /* .intro-container--links a img {
    height: 1.5rem;
    width: 1.5rem;
  } */
}

@media screen and (max-width: 580px) {
  .intro-header__subtitles h1 {
    font-size: max(20px, 2.6vw);
  }
}