/* SECTION: INTRO
============================ */
.intro-container {
  height: calc(70vh + 2px);
  position: relative;
  z-index: 101;
}

.intro-header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.intro-header__subtitles {
  position: relative;
  margin: 0 auto;
  width: 100%;
  /* height: 70vh; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--maxWidthMd);
  flex-direction: column;
  /* padding: 0 1rem; */
}

.intro-header__subtitles h1 {
  font-size: max(40px, 4.1666666667vw);
  /* font-size: max(24px, 2.5vw); */
  letter-spacing: .04em;
  line-height: .95;
  /* letter-spacing: .07rem; */
  /* line-height: 100%; */
  position: relative;
  width: auto;
  padding-top: 2rem;

  text-wrap:nowrap;
  cursor: help;
  font-family: var(--secondaryFont);
  /* color: #fff; */
  /* text-align: center; */
  background: rgba(0, 0, 0, 0);
  color: #e3e5e9;
  opacity: .9;
  /* color: transparent; */
  /* background-clip: text; */
  /* -webkit-text-stroke: 1px #bfc3d6; */
}

.intro-header__subtitles h1:before {
  /* content: 'web developer'; */
  content: 'webdev';
  position: absolute;
  letter-spacing: .03rem;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  padding-top: .5rem;
  padding-right: 1rem;
  /* color: #e3e5e9; */
  /* opacity: .75; */
  /* background-clip: unset; */
  color: transparent;
  background-clip: text;
  -webkit-text-stroke: 1px #d0d3e4;
}

/* background: rgba(0, 0, 0, .6);
color: transparent;
background-clip: text;
-webkit-text-stroke: 1px #bfc3d6; */

.intro-header__subtitles h2 {
  /* font-size: 20px; */
  font-size: max(1rem, 1.2vw);
  line-height: 1.1964285714;
  letter-spacing: -.005em;
  padding-top: 6vw;
  color: #fff;
  opacity: .9;
  font-weight: 400;
  text-wrap: balance;
  width: 100%;
  text-align: start;
  max-width: 45vw;
  /* margin-right: auto; */
  /* text-indent: 2vw; */
}

@media screen and (max-width: 720px) {

  .intro-header__subtitles h1 {
    font-size: max(28px, 3.2vw);
  }

  /* .intro-header__subtitles h1:before {
    content: 'webdev';
  } */
}

@media screen and (max-width: 580px) {

  .intro-header__subtitles h1 {
    font-size: max(20px, 2.6vw);
  }
}