/* SECTION: PROJECTS
============================*/
.projects-container {
  margin-top: -1rem;
  padding-bottom: 6rem !important;
  scroll-margin-top: 4rem;
}

.projects-grid {
  position: relative;
  padding-top: 1rem;
  display: grid;
  padding-left:0;
  padding-right:0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  row-gap: 1rem;
}

.project-cell:not(:first-child) {
  column-gap: 1rem;
}

.col--1 {
  grid-column: 1 / span 4;
}

.col--2-a {
  grid-column: 1 / span 2;
}

.col--2-b {
  grid-column: 3 / span 4;
}

.project-cell {
  /* border: 1px solid red; */
  /* min-height: min(40vh, 620px); */
  /* min-height: min(40vh, 620px); */
  min-height: 50vh;
  /* width: 100%; */
  /* max-width: 90%; */
  /* min-height: 30rem; */
  width: 100%;
  border-radius: 1rem;
  display:flex;
  flex-direction: column;
  /* gap: .5rem; */
  /* padding: .5rem; */
  margin: 0 auto;
  overflow: hidden;
}

.project-cell__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

/* .project-cell .project-cell__content {} */

.theme__light .project-calendar .project-cell__content {
  background-image: url("../../images/projects/calendar/gclight1.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.project-calendar .project-cell__content {
  background-image: url("../../images/projects/calendar/gcdark1.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.theme__light .project-markdown .project-cell__content {
  background-image: url("../../images/projects/markdown/mklight1.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.project-markdown .project-cell__content {
  background-image: url("../../images/projects/markdown/mkdark1.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

/* .project-components .project-cell__content {
  background-image: url("../../images/projects/other/other1.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.project-other .project-cell__content {
  background-image: url("../../images/projects/other/other1.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
} */

@media screen and (max-width: 768px) {
  .col--2-a,
  .col--2-b {
    grid-column: 1 / span 4;
  }
}

/* @media screen and (max-width: 840px) {

} */

/* .projects-grid::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  max-height:400px;
  pointer-events: none;
  top: 0;
  background: linear-gradient(180deg,var(--black0),transparent);
  height:30vh;
}

.projects-grid::after {
  content: "";
  background: linear-gradient(180deg,transparent 75%,var(--black0) 90%);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  pointer-events: none;
} */