/* SECTION: PROJECTS
============================*/
.projects-container {
  scroll-margin-top: 4rem;
}

.projects-grid {
  position: relative;
  padding-top: 1rem;
  display: grid;
  padding-left: 0;
  padding-right: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  row-gap: 3rem;
}

.col--1 {
  grid-column: 1 / span 4;
}

.col--2-a {
  grid-column: 1 / span 2;
}

.col--2-b {
  grid-column: 3 / span 4;
}

.project-cell {
  min-height: 600px;
  height: 60vh;
  max-height: 1000px;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid var(--black2);
  overflow: hidden;
  position: relative;
}

/* CELL HEADER */
.project-cell__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding: .75rem;
}

.project-cell--header__title,
.project-cell--header__links {
  display: flex;
  align-items: center;
  height: 100%;
}

.project-cell--header__title h3 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -.5px;
}

.project-cell--header__links a {
  font-size: .75rem;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  border: 1px solid var(--black2);
  border-radius: 5px;
  font-weight: 500;
  font-family: var(--primaryFont);
  cursor: pointer;
  color: var(--white1);
  opacity: .9;
  background: transparent;
  box-shadow: none;
  position: relative;
  transition: all .2s ease-in-out;
  padding: 0 .5rem;
}

.project-cell--header__links a:hover,
.project-cell--header__links a:focus-visible {
  background: var(--black1);
  border-color: var(--blue2);
}

.project-cell--header__links a:last-child {
  margin-left: .5rem;
}

.project-cell--header__links a span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 .25rem;
}

.project-cell--header__links a span:last-child {
  white-space: nowrap;
}

.project-cell--header__links svg {
  height: 1rem;
  width: 1rem;
  stroke: var(--white1);
}

/* CELL CONTENT */
.project-cell__content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

/* PROJECT IMAGES
============================*/
/* GOOGLE CALENDAR */
.theme__light .project-calendar .project-cell__content {
  background-image: url("../../images/projects/calendar/gclight1.webp");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.project-calendar .project-cell__content {
  background-image: url("../../images/projects/calendar/gcdark1.webp");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

/* MARKDOWN */
.theme__light .project-markdown .project-cell__content {
  background-image: url("../../images/projects/markdown/mklight1.webp");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.project-markdown .project-cell__content {
  background-image: url("../../images/projects/markdown/mkdark1.webp");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

/* CELL FOOTER  */
/* STACK USED */
.project-cell__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  padding: 0 .5rem;
}

.project-cell--bottom__stack {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.stack-vanilla {
  height: 2rem;
  width: 2rem;
  position: relative;
}

.stack-vanilla::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 1.5rem;
  width: 1.5rem;
  background: black;
}

.stack-vanilla::after {
  content: "";
  background-image: url("../../images/projects/stacks/vanilla.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  fill: #f3e223;
}

.stack-react svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
}

.stack-react svg {
  fill: #2f9cca;
}

.project-cell--bottom__stack h4 {
  font-size: .875rem;
  font-weight: 500;
  margin-left: .25rem;
}

.project-cell--bottom__stack p {
  font-size: .675rem;
  font-weight: 400;
  opacity: .9;
  margin-left: .25rem;
}

/* PROJECT CELL ASIDE CONTENT
============================*/
/* ASIDE CELL RIGHT */
.project-cell--lighthouse {
  /* height: 4rem; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--offsetblack3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

.lighthouse-score {
  font-family: monospace;
  font-size: .5rem;
  font-weight: 500;
  border: 2px solid #0ccd66;
  background: #1f3328;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #0ccd66;
  box-shadow: 0 0 2px 1px rgba(12, 205, 102, .5);
}

@media screen and (max-width: 1020px) {
  .project-cell {
    height: 80vh;
  }
}

@media screen and (max-width: 640px) {

  .col--2-a,
  .col--2-b {
    grid-column: 1 / span 4;
  }

  .project-cell {
    height: 80vh;
  }

  .theme__light .project-calendar .project-cell__content {
    background-image: url("../../images/projects/calendar/gclight2.webp");
  }

  .project-calendar .project-cell__content {
    background-image: url("../../images/projects/calendar/gcdark2.webp");
  }
}

@media screen and (max-width: 490px) {
  .project-cell {
    height: 90vh;
    min-height: 450px;

  }

  .theme__light .project-calendar .project-cell__content {
    background-image: url("../../images/projects/calendar/gclight3.webp");
    background-position: top center;
    /* background-size: contain; */
  }

  .project-calendar .project-cell__content {
    background-image: url("../../images/projects/calendar/gcdark3.webp");
    background-position: top center;
  }
}

@media screen and (max-width: 380px) {
  .project-cell {
    height: 70vh;
  }
}

/* .project-components .project-cell__content {
  background-image: url("../../images/projects/other/other1.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.project-other .project-cell__content {
  background-image: url("../../images/projects/other/other1.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
} */