.skills-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  flex-direction: column;
  padding: 1rem 0 2rem 0;
  scroll-margin-top: 4rem;
}

.skills-top {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
}

.skills-container .skills-top .section-title {
  display: flex;
  min-height: 26px;
  justify-content: center;
  margin-bottom: 3rem;
  text-align: start;
}

.skills-grid {
  display: grid;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  border: 1px solid var(--black1);
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.skills-cell {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  min-height:  240px;
  padding: 1rem 0;
  border-top: 1px solid var(--grey2);
  border-left: 1px solid var(--grey2);
  margin: 0 auto;
  background: var(--black0);
  font-size: 1rem;
  font-weight: 500;
  grid-template-columns: 1fr 4rem;
}

.skills-cell:nth-child(even) {
  border-right: 1px solid var(--grey2);
}

.skills-cell:nth-child(n + 6) {
  border-bottom: 1px solid var(--grey2);
}

.skills-cell:last-child {
  border-right: 1px solid var(--grey2);
}

.skill-content {
  display: flex;
  width: 100%;
  height: 240px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem 1rem 1rem;
}

.skill-title {
  position: absolute;
  z-index: 3;
  top: 1.25rem;
  left: 1.325rem;
  width: auto;
  color: var(--white1);
  font-family: var(--secondaryFont);
  font-size: var(--fs5);
  opacity: .7;
  transform: scaleY(1.2);
}

.skill-content li {
  position: relative;
  z-index: 3;
  width: 100%;
  padding-bottom: 10px;
  color: var(--white1);
  font-size: 1.125rem;
  line-height: 20px;
  opacity: .8;
}

.skill-img--wrapper {
  position: relative;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.skill-img--wrapper img {
  width: 2.5rem !important;
  height: 2.5rem !important;
  filter: grayscale(1) contrast(1.2);
  pointer-events: none !important;
  user-select: none !important;
}

.theme__light .skill-img--wp {
  filter: invert(1) !important;
}

.skills-cell:hover {
  border-top-color: #444;
  border-left-color: #444;
  background: var(--offsetblack4);
  transition-duration: .15s;
  transition-property: background, border-left-color, border-top-color;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.skills-cell:hover .skill-img--wrapper img {
  filter: grayscale(0);
  transition-duration: .15s;
  transition-property: filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.skills-cell:hover .skill-content li {
  opacity: 1;
  transition-duration: .15s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

@media screen and (max-width: 640px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }

  .skills-cell {
    grid-template-columns: 1fr 2.5rem;
  }

  .skill-img--wrapper {
    width: 2rem;
    height: 2rem;
  }

  .skill-content li {
    font-size: 18px;
  }

  .skill-img--wrapper img {
    width: 1.75rem !important;
    height: 1.75rem !important;
  }
}