.footer {
  background: var(--offsetgrey1);
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 180px;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

.footer-container {
  display:flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  padding: 0 1rem;
  position:relative;
}

.footer-top {
  border-top: 1px solid var(--black2);
  height: 100px;
  display:flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  font-size: .85rem;
}

.footer-top--message {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 6px;
  row-gap: .375rem;
  opacity: .9;
  text-align: center;
}

.footer-bottom {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: auto;
  width: 100%;
  font-size: 0.75rem;
  color: var(--white1);
  opacity: .8;
}

/* 
.contact-menu__body--gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,
      transparent,
      var(--grey3) 10%,
      var(--grey1) 20%,
      transparent);
  opacity: .8;
}
*/