.footer {
  border-top: 1px solid var(--black2);
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 160px;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}