.footer {
  background: var(--grey3);
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 120px;
  margin-top: auto;
  width: 100%;
  position: relative;
}

.footer-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 60%;
  margin: 0 auto;
  height: 100%;
  padding: 0 1rem;
  position: relative;
}

.footer-top {
  /* border-top: 1px solid var(--black2); */
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  font-size: .85rem;
}

.footer-top--message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 6px;
  row-gap: .375rem;
  text-align: center;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: auto;
  width: auto;
  font-size: 0.75rem;
  color: var(--white1);
  position: relative;
  z-index: 9999;
}