.header-logo {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 1rem;
  line-height: .9;
  cursor: pointer;
}

.logo--o-1,
.logo--o-2 {
  height: 1.5rem;
  width: 1.5rem;
  /* stroke: var(--header-text-before); */
  fill: var(--header-text-before);
  transition: transform .2s ease-in-out;
}

.header-filter .logo--o-1,
.header-filter .logo--o-2 {
  fill: var(--white1);
}

.header-filter .logo--t-1,
.header-filter .logo--t-2 {
  stroke: var(--white1);
}

.logo--o-2 {
  transform: translateX(-.75rem);
}


.logo--t-1,
.logo--t-2 {
  height: 1.75rem;
  width: 1.75rem;
  stroke: var(--header-text-before);
  opacity: .5;
  transition: all .2s ease-in-out;
  stroke-width: 1.25;
  display: none;
}

.logo--t-1 {
  transform: translateX(-2.75rem);
}

.logo--t-2 {
  transform: translateX(-2.75rem);
}

.header-logo:hover .logo--o-2,
.header-logo:focus-visible .logo--o-2 {
  transform: translateX(1.35rem);
}

.header-logo:hover .logo--t-1,
.header-logo:focus-visible .logo--t-1 {
  transform: translateX(-1.75rem);
  opacity: 1;
}

.header-logo:hover .logo--t-2,
.header-logo:focus-visible .logo--t-2 {
  transform: translateX(-2.4rem);
  opacity: 1;
}