.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  z-index: var(--z-header);
  background: var(--header-before);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  will-change: background, backdrop-filter, -webkit-backdrop-filter;
}

.header-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
  position: relative;
}

.header-animate {
  transition-property: background, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.header-filter {
  background: var(--header-after);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.header-filter .header-nav .nav-menu li button,
.header-filter .header-nav .nav-menu li a {
  background:transparent;
  color: var(--white1);
}

.header-nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  width: auto;
  height: 2.75rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu li {
  height: 100%;
  width: 100%;
  padding: .375rem .5rem;
}

.nav-menu li button,
.nav-menu li a {
  font-size: .8rem;
  height: 100%;
  width: 100%;
  padding: 0 .75rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-weight: 500;
  cursor: pointer;
  color: var(--header-text-before);
  box-shadow: none;
  position: relative;
  transition: all .2s ease-in-out;
  border-radius: 1rem;
}

.nav-menu li a:hover {
  opacity: .8;
  background: var(--black0);
  color: var(--white1);
}

.nav-menu li a:focus-visible,
.nav-menu li button:focus-visible {
  background: var(--offsetgrey1);
}

.nav-menu li button svg {
  fill: none;
  height: 14px;
  width: 14px;
  margin-left: .5rem;
  transition: transform .2s ease-in-out;
}

.nav-menu--contact--active {
  background: var(--white1) !important;
  color: var(--black0) !important;
  opacity: .8;
}

.nav-menu--contact--active svg {
  transform: rotate(180deg);
}

@media screen and (max-width: 640px) {
  .nav-menu li {
    padding: .375rem .125rem;
  } 
}