.header-logo {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 1rem;
  line-height: .9;
  cursor: pointer;
}

.header-logo img {
  filter: invert(1);
}

.theme__light .header-logo img {
  filter: invert(1);
}

.theme__light .header-filter .header-logo img {
  filter: invert(0);
}