.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

/* ------------------------ */

/* SECTIONS
============================ */
.section-grid {
  display: grid;
  row-gap: 1.5rem;
  max-width: 1200px;
  padding-left: .75rem;
  padding-right: .75rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.section-title {
  position: relative;
  width: 100%;
  max-width: var(--maxWidthMd);
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
}

.section-title h2,
.section-title h3 {
  white-space: nowrap;
  font-size: max(22px, 2vw);
  font-family: var(--secondaryFont);
  font-weight: 900;
  line-height: .95;
  padding: .5rem;
  position: relative;
  opacity: .9;
}

/* font-size: max(26px, 3vw); */
.section-title h2 {
  font-size: max(22px, 2vw);
  letter-spacing: 5px;
  color: var(--white1);
  /* -webkit-text-stroke: 2px var(--white1) !important;
  background: var(--offsetblack1) !important;
  background-clip: text !important;
  color: transparent !important; */
}

.section-title h3 {
  color: var(--white1);
  /* -webkit-text-stroke: 1px var(--white1) !important;
  background: var(--offsetblack1) !important;
  background-clip: text !important;
  color: transparent !important; */
  /* color: var(--white1); */
}

/* .section-title h2:after {
  content: "projects";
  -webkit-text-stroke: 2px var(--primary1) !important;
  background: var(--primary1) !important;
  background-clip: text !important;
  color: transparent !important;
  -webkit-mask-image: linear-gradient(to top, var(--offsetblack1), transparent);
  mask-image: linear-gradient(to top, var(--offsetblack1), transparent);
  transform: scaleY(-1) translateX(-100%) translateY(-70%);
  position:absolute;
  z-index: -1;
  height: 100%;
} */

/* .section-title h2:after {
  content: "projects";
  -webkit-text-stroke: 2px var(--accent-7) !important;
  background: var(--offsetblack1) !important;
  background-clip: text !important;
  color: transparent !important;
  -webkit-mask-image: linear-gradient(to right, var(--offsetblack1), transparent 60%);
  mask-image: linear-gradient(to right, var(--offsetblack1), transparent 40%);
  transform: scaleY(-1) translateY(-100%);
  position: absolute;
  top: 0;
  opacity: .3;
  left: 20%;
  z-index: -1;
  padding: .5rem;
  height: 100%;
} */

.section-subtitle {
  line-height: 1.375;
  color: var(--white1);
  opacity: .9;
  font-size: .875rem;
  font-weight: 500;
}

.section-excerpt {
  max-width: var(--maxWidthMd);
  height: auto;
  width: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.25;
  letter-spacing: -.02em;
  padding: 1.5rem .5rem 1.5rem .5rem;
  font-size: max(1.125rem, 1.3vw);
  position: relative;
  border-bottom: 1px solid var(--grey2);
  opacity: .9;
  /* border: 1px solid var(--grey2); */
}

.section-excerpt p {
  padding: 0 1rem 1rem .25rem;
}

@media screen and (max-width: 720px) {
  .section-title {
    flex-direction: column;
  }

  .section-title h2,
  .section-title h3 {
    font-size: 6.2708vw;
  }

  .section-excerpt p {
    padding-right: 2rem;
  }

  .section-excerpt::after {
    width: calc(100% - 2rem);
  }
}