.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: var(--z-main);
  width: 100%;
}

/* ------------------------ */
/* SECTIONS
============================*/
.section-grid {
  display: grid;
  row-gap: 1.5rem;
  max-width: 1200px;
  padding-left: .75rem;
  padding-right: .75rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
  position: relative;
}

.section-title h2,
.section-title h3 {
  /* font-size: 3rem; */
  font-weight: 900;
  line-height: 1.375;
  /* transform: scaleY(.9); */
  /* letter-spacing: -1px; */
  /* color: transparent; */
  font-family: var(--secondaryFont);
  color: var(--white1);
  font-size: max(28px, 3vw);
  /* background-image: linear-gradient(150deg,
      var(--white0) 0%,
      var(--accent-6),
      var(--accent-7));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200%; */
}

.section-subtitle {
  line-height: 1.375;
  color: var(--white1);
  opacity: .9;
  font-size: .875rem;
  font-weight: 500;
}