/* space-grotesk-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/spaceGrotesk/space-grotesk-v15-latin-700.woff2') format('woff2'),
    url('../fonts/spaceGrotesk/space-grotesk-v15-latin-700.woff') format('woff');
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter/inter-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/inter/inter-v12-latin-regular.woff') format('woff');
}

/* inter-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter/inter-v12-latin-500.woff2') format('woff2'),
    url('../fonts/inter/inter-v12-latin-500.woff') format('woff');
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter/inter-v12-latin-700.woff2') format('woff2'),
    url('../fonts/inter/inter-v12-latin-700.woff') format('woff');
}

/* inter-tight-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/intertight/inter-tight-v2-latin-800.woff2') format('woff2'),
    url('../fonts/intertight/inter-tight-v2-latin-800.woff') format('woff');
}

/* 
https://vercel.com/design/icons
*/

:root {
  --bs-sm:
    rgba(0, 0, 0, 0.10) 0 0 3px 0;
  --bs-md:
    rgba(0, 0, 0, 0.10) 0 3px 3px 0,
    rgba(0, 0, 0, 0.10) 0 6px 6px 0;
  --bs-xl:
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
    rgba(0, 0, 0, 0.12) 0px 3px 14px 2px,
    rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
  --primaryFont: "Inter", sans-serif, -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, monospace;
  --secondaryFont: "Space Grotesk", monospace;
  --tertiaryFont: "Inter Tight", monospace;
  --blue1: #2a8af6;
  --blue2: #3549a6;
  --pink1: #a853ba;
  --red1: #e92a67;
  --red2: #7c1e4b;
  --z-main: 500;
  --z-footer: 600;
  --z-sidebar: 700;
  --z-header: 800;
  --z-overlay: 900;
  --z-modal: 1000;
  --z-toast: 1100;
  --accent-1: #111;
  --accent-2: #333;
  --accent-3: #444;
  --accent-4: #555;
  --accent-5: #777;
  --accent-6: #999;
  --accent-7: #eaeaea;
}

.theme__dark {
  --black0: #000;
  --black1: #131516;
  --black2: #212121;
  --grey1: #818080;
  --grey2: #1c1c1c;
  --grey3: #1b1a1a;
  --white1: #fff;
  --white2: #aaa;
  --white3: #8c8c8c;
  --offsetred: rgba(233, 42, 103, .4);
  --offsetblack1: rgba(0, 0, 0, .9);
  --offsetblack2: rgba(0, 0, 0, .5);
  --dividerBg: rgba(129, 64, 143, 0.1);
}

.theme__light {
  --black0: #fff;
  --black1: #fafafa;
  --black2: #e5e5e5;
  --grey1: #999;
  --grey2: #d9d9d9;
  --grey3: #d9d9d9;
  --white1: #171717;
  --white2: #4c4c4c;
  --white3: #4c4c4c;
  --offsetred: rgba(233, 42, 103, .2);
  --offsetblack1: rgba(255, 255, 255, .9);
  --offsetblack2: rgba(255, 255, 255, .7);
  --offsetwhite1: rgba(233, 42, 103, .2);
  --dividerBg: linear-gradient(to right, #3549a6, #7c1e4b);
}

*,
*:before,
*:after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  height: calc(100vh - calc(100vh - 100%));
  line-height: 1.15;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: var(--black0);
  color: var(--white1);
  font-family: var(--primaryFont);
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* GENERAL RESETS
============================*/
h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1,
h2 {
  font-family: var(--primaryFont);
}

h3,
h4 {
  font-family: var(--secondaryFont);
}

button,
input {
  background: none;
  border: none;
  color: var(--white1);
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
  text-transform: none
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  color: var(--blue1);
  outline: 0;
  text-decoration: none;
}

:link img,
:visited img,
a img {
  border: none
}

input::placeholder {
  color: var(--white2);
  opacity: 1
}

svg {
  fill: var(--white1);
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.svg-xs {
  height: 1rem;
  width: 1rem;
}

.svg-sm {
  height: 1.25rem;
  width: 1.25rem;
}

.svg-md {
  height: 1.5rem;
  width: 1.5rem;
}

.svg-lg {
  height: 1.75rem;
  width: 1.75rem;
}

.svg-xl {
  height: 3.5rem;
  width: 3.5rem;
}

/* ::-WEBKIT
============================*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

button[type=button],
button[type=reset],
button[type=submit],
button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/* ::-MOZ
============================*/
::-moz-focus-inner {
  border-style: none;
  padding: 0
}

:-moz-focusring {
  outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
  box-shadow: none;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input::-moz-placeholder {
  color: var(--white2);
  opacity: 1
}

input:-ms-input-placeholder {
  color: var(--white2);
  opacity: 1
}

/* [ATTRIBUTES]
============================*/
input[disabled],
button[disabled],
a[disabled] {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.hide {
  display: none;
}

/* [BUTTON] TEMPLATES
=====================================*/
.btn {
  border-radius: 4px;
  outline: 2px solid transparent;
  border: 1px solid transparent;
  padding: .375rem .5rem;
  transition: background 100ms ease-in-out;
  font-size: .875rem;
}

/* =====================================
DARK/TRANSPARENT button */
.btn-dark {
  background: var(--grey2);
  border: 1px solid var(--grey3);
  color: var(--white1);
}

.btn-transparent {
  background: transparent;
  border: 1px solid transparent;
  color: var(--white1);
}

.btn-dark:hover,
.btn-transparent:hover,
.btn-text-svg:hover {
  background: var(--black0);
}

.btn-dark:hover svg,
.btn-transparent:hover svg {
  fill: var(--white2);
}

.btn-dark:active,
.btn-transparent:active,
.btn-text-svg:active {
  background: var(--black1);
  border: 1px solid var(--grey3);
}

.btn-dark:active svg,
.btn-transparent:active svg {
  fill: var(--white1);
}

.btn-dark:focus-visible,
.btn-transparent:focus-visible,
.btn-text-svg:focus-visible {
  border: 1px solid transparent;
  outline: 2px solid var(--grey1);
}

.btn-dark:focus-visible svg,
.btn-transparent:focus-visible svg {
  fill: var(--white1);
}

/* BUTTON MODIFIERS
=====================================*/
.btn-fixed--width {
  width: 7.5rem;
}

.btn-disabled {
  filter: brightness(.7);
  background: transparent;
  border: 1px solid transparent;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.btn-sm {
  font-size: .75rem;
  padding: .25rem .5rem;
}

.btn-svg,
.btn-svgtxt {
  display: flex;
  align-items: center;
}

.btn-svg {
  justify-content: center;
  padding: 0;
}

.btn-svgtxt {
  justify-content: space-between;
}

.btn-round {
  border-radius: 50%;
}

/* [INPUT] TEMPLATES
=====================================*/
.input {
  border-radius: 4px;
  outline: 2px solid transparent;
  border: 1px solid transparent;
  padding: .375rem .625rem;
  transition: all 100ms ease-in-out;
  font-size: .875rem;
}

.input-dark {
  background: var(--grey2);
  color: var(--white2);
  border: 1px solid var(--grey3);
}

.input-dark:active {
  background: var(--grey2);
  filter: brightness(1.2);
  outline: 2px solid var(--black1);
}

.input-dark:focus-visible {
  outline: 2px solid var(--black1);
  border: 1px solid transparent;
}

/* TRANSITION UTILITIES
=====================================*/
@keyframes lines {
  0% {
    opacity: .8
  }

  25% {
    opacity: .4
  }

  50% {
    opacity: 0
  }

  75% {
    opacity: .4
  }

  100% {
    opacity: .8
  }
}

/*attach to body - disable all transition/animation*/
.disable-transitions * {
  -webkit-transition: none !important;
  transition: none !important;
  transition-duration: none !important;
  transition-property: none !important;
  transition-timing-function: none !important;
  animation: none !important;
}

.dotted-background {
  background-image: radial-gradient(var(--black2) 1px, transparent 1px);
  background-size: 25px 25px;
  background-position: 50%;
}

/* adaptive font sizes
=====================================*/
@media screen and (max-width: 1020px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 490px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 12px;
  }
}