/* inter-regular */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter/inter-v12-latin-regular.woff2') format('woff2');
}

/* inter-500 */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter/inter-v12-latin-500.woff2') format('woff2');
}

/* inter-700 */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter/inter-v12-latin-700.woff2') format('woff2');
}

/* i suck at colors */
/* BLUE RED */
/* --blue1: #2a8af6;
  --red1: #e92a67; */

/* RED RED */
/* --blue1: #f44847;
  --red1: #a73130; */

/* BLUE BLUE */
/* --blue1: #2196f3;
  --red1: #1d1e22; */

/* BLUE BLUE */
/* --blue1: #2196f3;
  --red1: #2575fc; */
/* https://vercel.com/design/icons*/
:root {
  --primaryFont: "Inter", sans-serif, -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, monospace;
  --bs-xl:
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
    rgba(0, 0, 0, 0.12) 0px 3px 14px 2px,
    rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
  --z-main: 500;
  --z-footer: 600;
  --z-sidebar: 700;
  --z-header: 800;
  --z-aside: 900;
  --z-modal: 1000;
  --z-toast: 1100;

  --blue1: #F40076;
  --red1: #342711;
  --blue2: #3549a6;
  --red2: #7c1e4b;
  --pink1: #a853ba;

  --gap1: .5rem;
  --gap2: .75rem;
  --gap3: .875rem;
  --gap4: 1rem;

  --headerHeight: 4rem;
}

/* 
--blue1: #f44847;
--red1: #a73130;
*/

*,
*:before,
*:after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  /* height: calc(100vh - calc(100vh - 100%)); */
  /* width: calc(100vw - calc(100vw - 100%)); */
  height: 100%;
  width: 100%;
  line-height: 1.15;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: var(--black0);
  color: var(--white1);
  font-family: var(--primaryFont);
  text-rendering: optimizeSpeed;
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  min-height: calc(100vh - calc(100vh - 100%));
  min-width: calc(100vw - calc(100vw - 100%));
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 4rem 0 0 0;
}

/* GENERAL RESETS
============================*/
h1,
h2,
h3,
h4,
span,
button,
p,
a,
li,
ul,
div,
input,
textarea {
  font-family: var(--primaryFont);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

button,
input {
  background: none;
  border: none;
  color: var(--white1);
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
  text-transform: none
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  color: var(--blue1);
  outline: 0;
  text-decoration: none;
}

:link img,
:visited img,
a img {
  border: none
}

input::placeholder {
  color: var(--white2);
  opacity: 1
}

svg {
  fill: var(--white1);
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

textarea {
  resize: none;
}

/* ::-WEBKIT
============================*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

button[type=button],
button[type=reset],
button[type=submit],
button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/* ::-MOZ
============================*/
::-moz-focus-inner {
  border-style: none;
  padding: 0
}

:-moz-focusring {
  outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
  box-shadow: none;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input::-moz-placeholder {
  color: var(--white2);
  opacity: 1
}

input:-ms-input-placeholder {
  color: var(--white2);
  opacity: 1
}

/* [ATTRIBUTES]
============================*/
input[disabled],
button[disabled],
a[disabled] {
  /* pointer-events: none; */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: not-allowed;
}

/* TRANSITION UTILITIES
=====================================*/
@keyframes lines {
  0% {
    opacity: .8
  }

  25% {
    opacity: .4
  }

  50% {
    opacity: 0
  }

  75% {
    opacity: .4
  }

  100% {
    opacity: .8
  }
}

/*attach to body - disable all transition/animation*/
.disable-transitions * {
  -webkit-transition: none !important;
  transition: none !important;
  transition-duration: none !important;
  transition-property: none !important;
  transition-timing-function: none !important;
  animation: none !important;
}

.dotted-background {
  background-image: radial-gradient(var(--black2) 1px, transparent 1px);
  background-size: 25px 25px;
  background-position: 50%;
}

.modal-ov {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.modal-ov--hide {
  display: none;
}

/* adaptive font sizes
=====================================*/
@media screen and (max-width: 1020px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 490px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 12px;
  }
}