.theme__dark {
  --accent-1: #111;
  --accent-2: #222;
  --accent-3: #333;
  --accent-4: #444;
  --accent-5: #555;

  --black0: #000;
  --black1: #0e0e0f;
  --black2: #333;
  --black3: #050505;
  --black4: #090909;

  --grey1: #818080;
  --grey2: #1a1a1a;
  --grey3: #000;

  --white0: #fff;
  --white1: #fff;
  --white2: #cccbcb;

  --offsetblack1: rgba(0, 0, 0, .6);
  --offsetblack2: rgba(23, 23, 23, 0.6);

  --bs-md:
    rgba(0, 0, 0, .2) 0 1px 2px 0,
    rgba(0, 0, 0, .1) 0 1px 3px 0;
  --bs-lg:
    0 30px 60px rgba(0, 0, 0, .12);

  /* SPECIFIC */
  --header-before: transparent;
  --header-text-before: #fff;
  --header-after: rgba(0, 0, 0, .6);

  --link: #7F95F5;
  --dividerBg: rgba(64, 76, 143, 0.1);
}

.theme__light {
  --accent-1: #fff;
  --accent-2: #f2f2f2;
  --accent-3: #e5e5e5;
  --accent-4: #d4d4d4;
  --accent-5: #d4d4d4;

  --black0: #fff;
  --black1: #fafafa;
  --black2: #eaeaea;
  --black3: #fff;
  --black4: #fafafa;

  --grey1: #999;
  --grey2: #d9d9d9;
  --grey3: #fff;

  --white0: #000;
  --white1: #171717;
  --white2: #4c4c4c;

  --offsetblack1: rgba(255, 255, 255, .8);
  --offsetblack2: rgba(255, 255, 255, .5);

  --bs-md:
    rgba(0, 0, 0, .2) 0 1px 2px 0,
    rgba(0, 0, 0, .1) 0 1px 3px 0;
  --bs-lg:
    0 30px 60px rgba(0, 0, 0, .12);

  /* SPECIFIC */
  --header-before: transparent;
  --header-text-before: #fff;
  --header-after: rgba(255, 255, 255, .9);

  --link: #153DEF;
  --dividerBg: transparent;
}