.theme__dark {
  --accent-1: #111;
  --accent-2: #222;
  --accent-3: #333;
  --accent-4: #444;
  --accent-5: #555;
  --accent-6: #888;
  --accent-7: #eaeaea;
  --accent-8: #fafafa;
  --black0: #000;
  --black1: #0e0e0f;
  --black2: #333;
  --black3: #333;
  --black4: #090909;
  --grey2: #1a1a1a;
  --grey3: #000;
  --grey4: #27272a;
  --grey5: #262b30;
  --grey6: #6d6e77;
  --grey7: #a3a5ad;
  --grey8: #b6b9c2;
  --white0: #fff;
  --white1: #f7f5f5;
  --white2: #cccbcb;
  --white3: #e7ecf4;
  --offsetblack0: rgb(0 0 0 / .9);
  --offsetblack1: rgb(0 0 0 / .6);
  --offsetblack2: rgb(0 0 0 / .2);
  --offsetblack3: rgb(23 23 23 / 0.1);
  --offsetblack4: rgb(8 8 8 / 0.99);
  --offsetwhite1: rgb(255 255 255 / .05);
  --offsetwhite2: rgb(255 255 255 / .1);
  --offsetsecondary1: rgb(50 145 255 / 0.1);
  --offsetsecondary2: hsl(0deg 0% 100% / .4);
  --bs-md:
    rgb(0 0 0 / .2) 0 1px 2px 0,
    rgb(0 0 0 / .1) 0 1px 3px 0;
  --bs-lg:
    0 30px 60px rgb(0 0 0 / .12);
  --bs-inset1:
    inset 0 0 10px 8px rgb(17 17 17 / .3),
    inset 0 0 10px 8px rgb(17 17 17 / .2);

  /* SPECIFIC */
  --selection: #f81ce5;
  --link: #7F95F5;
  --link2: #0089ae;
  --linear1: linear-gradient(0deg,
      var(--offsetwhite1),
      var(--offsetwhite1)),
    radial-gradient(50% 50% at 50% 100%,
      var(--offsetwhite2) 0%,
      transparent 100%);
  --skeleton1: linear-gradient(270deg, #111, #333, #333, #111);
}

.theme__light {
  --accent-1: #f1f1f1;
  --accent-2: #f5f5f5;
  --accent-3: #f5f5f5;
  --accent-4: #d4d4d4;
  --accent-5: #d4d4d4;
  --accent-6: #888;
  --accent-7: #333;
  --accent-8: #111;
  --black0: #fff;
  --black1: #fafafa;
  --black2: #d4d4d4;
  --black3: #555;
  --black4: #fafafa;
  --grey2: #d9d9d9;
  --grey3: #fff;
  --grey4: #f7f7f8;
  --grey5: #94989c;
  --grey6: #6d6e77;
  --grey7: #212122;
  --grey8: #212122;
  --white0: #000;
  --white1: #171717;
  --white2: #4c4c4c;
  --white3: #212122;
  --offsetblack0: rgb(255 255 255 / 1);
  --offsetblack1: rgb(255 255 255 / .8);
  --offsetblack2: rgb(255 255 255 / .5);
  --offsetblack3: rgb(255 255 255 / .2);
  --offsetblack4: rgb(255 255 255 / .96);
  --offsetwhite1: rgb(0 0 0 / .05);
  --offsetwhite2: rgb(0 0 0 / .1);
  --offsetsecondary1: rgb(50 145 255 / 0.1);
  --offsetsecondary2: rgb(0 0 0 / 0.3);
  --bs-md:
    rgb(0 0 0 / .2) 0 1px 2px 0,
    rgb(0 0 0 / .1) 0 1px 3px 0;
  --bs-lg:
    0 30px 60px rgb(0 0 0 / .12);
  --bs-inset1:
    rgb(0 0 0 / .2) 0 1px 2px 0,
    rgb(0 0 0 / .1) 0 1px 3px 0;

  /* SPECIFIC */
  --selection: #7fffe1;
  --link: #153DEF;
  --link2: #212122;
  --linear1: linear-gradient(0deg,
      rgb(23 23 23 / .4),
      rgb(8 8 8 / .05)),
    radial-gradient(50% 50% at 50% 100%,
      rgb(40 40 40 / .2) 0%,
      rgb(0 0 0 / .8) 100%);
  --skeleton1: linear-gradient(270deg, #fafafa, #eaeaea, #eaeaea, #fafafa);
}

/*
  border: 1px solid rgba(255,255,255,.1);
  background:
    linear-gradient(0deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05)),
    radial-gradient(50% 50% at 50% 100%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%);
*/

/* .theme__dark2 {
  --grey2: #1e1e21;
  --grey3: #0f0f11;
  --grey4: #0f0f11;
  --grey5: #0f0f11;
  --grey6: #767784;
  --grey7: #a9aabc;
  --grey8: #a9aabc;
  --accent-8: #9899a9;
  --accent-7: #878896;
  --accent-6: #767784;
  --accent-5: #333338;
  --accent-4: #222226;
  --accent-3: #111113;
  --accent-2: #1e1e21;
  --accent-1: #0f0f11;

  --black0: #0d0d0d;
  --black1: #09090b;
  --black2: #151517;
  --black3: #18181b;
  --black4: #27272a;

  --white0: #fff;
  --white1: #fafafa;
  --white2: #a9aabc;
  --white3: #a6a6a6;

  --offsetblack0: rgba(0, 0, 0, .9);
  --offsetblack1: rgba(0, 0, 0, .6);
  --offsetblack2: rgba(0, 0, 0, .2);
  --offsetblack3: rgba(23, 23, 23, 0.1);
  --offsetblack4: rgba(8, 8, 8, 0.99);
  --offsetwhite1: rgba(255, 255, 255, .05);
  --offsetwhite2: rgba(255, 255, 255, .1);
  --offsetsecondary1: rgba(50, 145, 255, 0.1);
  --offsetsecondary2: hsla(0deg, 0%, 100%, .4);
  --inset1: rgba(17, 17, 17, .3);
  --inset2: rgba(17, 17, 17, .2);
  --bsout1: rgba(0, 0, 0, .2);
  --bsout2: rgba(0, 0, 0, .1);
  --bsout3: rgba(0, 0, 0, .2);
  --border-color-1: var(--black4);
  --border1: 1px solid var(--black4);
  --placeholder1: var(--grey5);

  --bs-md:
    var(--bsout1) 0 1px 2px 0,
    var(--bsout2) 0 1px 3px 0;
  --bs-lg:
    0 30px 60px var(--bsout2);
  --bs-inset1:
    inset 0 0 10px 8px var(--inset1),
    inset 0 0 10px 8px var(--inset2);

  --selection: #f81ce5;
  --link: #7F95F5;
  --link2: #0089ae;
  --linear1: linear-gradient(0deg,
      var(--offsetwhite1),
      var(--offsetwhite1)),
    radial-gradient(50% 50% at 50% 100%,
      var(--offsetwhite2) 0%,
      transparent 100%);
  --linear2: linear-gradient(270deg, var(--grey10), var(--grey8), var(--grey10), var(--grey8));
  --skeleton1: linear-gradient(2c70deg, #111, #333, #333, #111);
} */