/*attach to body - disable all transition/animation*/
/* .dotted-background {
  background-image: radial-gradient(var(--black2) 1px, transparent 1px);
  background-size: 25px 25px;
  background-position: 50%;
} */

.img-icon {
  height: 1rem;
  width: 1rem;
  filter: invert(1);
}

.theme__light .img-icon {
  filter: invert(0);
}