<aside class="tooltip" style="left:0;top:0;" data-tooltip-active="false">
  <span class="tooltip-content"></span>
  <span class="tooltip-caret" style="top:0;left:0;right:0;margin:auto;transform:translateY(-12px);">
    <img src="images/svg/caretup.svg" alt>
  </span>
</aside>