<div class="skills-grid">
  <div class="skills-cell">
    <h4 class="skill-title"></h4>
    <ul class="skill-content"></ul>
    <div class="skill-img--wrapper"></div>
  </div>
  <div class="skills-cell">
    <h4 class="skill-title"></h4>
    <ul class="skill-content"></ul>
    <div class="skill-img--wrapper"></div>
  </div>
  <div class="skills-cell">
    <h4 class="skill-title"></h4>
    <ul class="skill-content"></ul>
    <div class="skill-img--wrapper"></div>
  </div>
  <div class="skills-cell">
    <h4 class="skill-title"></h4>
    <ul class="skill-content"></ul>
    <div class="skill-img--wrapper"></div>
  </div>
  <div class="skills-cell">
    <h4 class="skill-title"></h4>
    <ul class="skill-content"></ul>
    <div class="skill-img--wrapper"></div>
  </div>
  <div class="skills-cell">
    <h4 class="skill-title"></h4>
    <ul class="skill-content"></ul>
    <div class="skill-img--wrapper"></div>
  </div>
  <div class="skills-cell">
    <h4 class="skill-title"></h4>
    <ul class="skill-content"></ul>
    <div class="skill-img--wrapper"></div>
  </div>
</div>