/* ============================
  DIVIDER
============================ */
.section-divider {
  box-shadow: 0 0 0 1px var(--primary3);
  height: 1px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.section-gradient--l {
  border-radius: 100%;
  margin-top: -24px;
  mix-blend-mode: normal;
  pointer-events: none;
  user-select: none;
  filter: blur(46px);
  position: relative;
  background: linear-gradient(to bottom, #008beb 20%, #033450 50%, #086faa);
  /* background: linear-gradient(to bottom, var(--primary1) 20%, var(--primary3) 50%, var(--primary2 80%)); */
  opacity: .8;
  height: 42px;
}

.theme__light .section-gradient--l {
  opacity: .5;
}