/* ============================
DIVIDER
============================*/
.section-divider {
  backdrop-filter: brightness(2.2);
  filter: brightness(1.5);
  background: var(--dividerBg);
  margin: 0 auto;
  min-height: 2px;
  height: 2px;
  max-width: 100vw;
  width: 100%;
  position: relative;
  /* width: 100%; */
  z-index: 6;
}

.section-gradient-left {
  filter: blur(48px);
  border-radius: 50%;
  margin-top: -4rem;
  min-height: 2rem;
  mix-blend-mode:normal;
  pointer-events: none;
  user-select: none;
  width: 100%;
  background: linear-gradient(
    180deg,
    var(--black0) 10%,
    var(--grey1)
  );
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

/* .section-gradient-left,
.section-gradient-right {
  filter: blur(46px);
  margin-top: -.5rem;
  min-height: 1rem;
  mix-blend-mode: normal;
  pointer-events: none;
  user-select: none;
  width: 40%;
}

.section-gradient-left {
  background: var(--blue2);
  position: relative;
  z-index: 2;
  margin-right: auto;
}

.section-gradient-right {
  background: var(--red2);
  position: relative;
  z-index: 2;
  margin-left: auto;
} */