/* ------------------------ */

/* GRADIENT (under header)
============================*/


/* .gradient-overlay--one {
  background:
    linear-gradient(320.54deg, #00069F 0%, #120010 72.37%), linear-gradient(58.72deg, #69D200 0%, #970091 100%), linear-gradient(121.28deg, #8CFF18 0%, #6C0075 100%), linear-gradient(121.28deg, #8000FF 0%, #222 100%), linear-gradient(180deg, #00FF19 0%, #24FF00 0.01%, #2400FF 100%), linear-gradient(52.23deg, #0500FF 0%, #FF0000 100%), linear-gradient(121.28deg, #32003A 0%, #FF4040 100%), radial-gradient(50% 72.12% at 50% 50%, #EB00FF 0%, #110055 100%);
  background-blend-mode: screen, color-dodge, color-burn, screen, overlay, difference, color-dodge;
  margin-top: -8rem;
} */

.gradient-overlay--one {
  position: absolute;
  height: calc(100vh + 8rem);
  width: 100%;
  z-index: -1;
  margin: 0 auto;
  left: 0;
  right: 0;
  pointer-events: none;
  user-select: none;
  background:
    linear-gradient(320.54deg, #00069F 0%, #120010 72.37%), linear-gradient(58.72deg, #69D200 0%, #970091 100%), linear-gradient(121.28deg, #8CFF18 0%, #6C0075 100%), linear-gradient(121.28deg, #8000FF 0%, #222 100%), linear-gradient(180deg, #00FF19 0%, #24FF00 .5%, #2400FF 100%), linear-gradient(52.23deg, #0500FF 0%, #FF0000 100%), linear-gradient(121.28deg, #32003A 0%, #FF4040 100%), radial-gradient(50% 72.12% at 50% 50%, #EB00FF 0%, #110055 100%);
  background-blend-mode: screen, color-dodge, color-burn, screen, overlay, difference, color-dodge;
  margin-top: -8rem;
  filter: brightness(1.2) contrast(1.2) grayscale(1);
}

.gradient-overlay--two {
  position: absolute;
  height: calc(100vh + 8rem);
  width: 100%;
  z-index: -1;
  margin: 0 auto;
  left: 0;
  right: 0;
  pointer-events: none;
  user-select: none;
  background: #ccc;
  background: rgba(20, 39, 125, 0.2);
  mix-blend-mode: color-burn;
  margin-top: -8rem;
  display:none;
}