<header class="header">
  <div class="header-wrapper">
    <div class="header-logo--wrapper">
      <a class="header-logo" data-href="#header-top" title="Scroll To Top" aria-label="button" href="#page-top">
        <img src="images/logo/logo.svg" alt="logo" style="height:42px !important; width:42px !important;">
      </a>
    </div>

    <div class="nav-wrapper">
      <nav class="header-nav">
        <ul class="nav-menu">
          <li>
            <a class="nav-menu--link" data-scroll-to="0" href="#projects-top" title="Scroll to projects">Projects</a>
          </li>
          <li>
            <a class="nav-menu--link" data-scroll-to="1" href="#skills-top" title="Scroll to skills">Skills</a>
          </li>
          <li class="nav-multi__contact">
            <a class="nav-menu--link contact-nav--btn" data-scroll-to="2" href="#contact-top" title="Contact Menu & context" data-contact-menu-open="false">
              <span>Contact</span>
              <span class="nav-menu--link__arrow">
                <img src="images/svg/caretdown.svg" alt style="height:16px !important; width:16px !important;">
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header-right">
      <aside class="theme-modal">
        <div class="theme-switch">
          <span>
            <input class="theme-input" id="theme-switch-dark" name="radio-theme" type="radio" value="dark">
            <label class="theme-label" for="theme-switch-dark" title="Switch to dark mode" aria-label="Switch to dark mode">
              <img src="images/svg/moon.svg" alt="dark" style="height:18px; width:18px;">
            </label>
          </span>

          <span>
            <input class="theme-input" id="theme-switch-light" name="radio-theme" type="radio" value="light">
            <label class="theme-label theme-label--two" for="theme-switch-light" title="Switch to light mode" aria-label="Switch to light mode">
              <img src="images/svg/sun.svg" alt="light" style="height:18px; width:18px;">
            </label>
          </span>
        </div>
      </aside>

    </div>
  </div>
</header>