<aside class="popup-picture" data-active-popup="false">
  <div class="popup-picture__header">
    <div class="popup-picture__header-content">
      <span class="popup-picture__info">click anywhere to close</span>
    </div>
  </div>
  <div class="popup-picture__imgwrapper"></div>
</aside>