<div class="project-cell proj-cell-tabs" data-project-cell-loaded="false">
  <div class="project-cell__content">
    <div class="project-content__header">
      <div class="pc__header-tabs"></div>
    </div>
    <div class="project-content__subheader">
      <div class="pc__subheader--search">
        <a title="" href="#" target="_blank" rel="noreferrer">
          <img class="img-icon" src="images/svg/lock.svg" alt="">
          <span>.</span>
        </a>
        <span class="search-arrowright"><img class="img-icon" src="images/svg/arrowRight.svg" alt="arrowright"></span>
      </div>

      <div class="pc__subheader--links">
        <a title="github repo" href="#" target="_blank" rel="noreferrer">
          <img class="img-icon" alt="" src="images/svg/githuboutline.svg">
          <span>Repo</span>
        </a>
      </div>
    </div>
    <div class="project-content__published">
      <span class="content-published--text">Published: </span>
    </div>

    <div class="project-content__body">
      <picture data-cal-nth="1" data-hasimg="true" class="proj-img cal-current">
                <source srcset="images/placeholder/placeholder1600x900.png" media="(min-width:721px)">
                <source srcset="images/placeholder/placeholder720x540.png" media="(max-width:721px)">
                <img 
                  src="images/placeholder/placeholder1600x900.png" 
                  loading="eagar" 
                  style="max-width:100vw;" 
                  alt="project image"
                  srcset="images/placeholder/placeholder1600x900.png 1x, images/placeholder/placeholder720x540.png 2x"
                >
              </picture>
    </div>
  </div>
  <div class="project-cell__footer">
    <div class="project-footer__content">
      <h3 class="project-footer__title">Lorem ipsum dolor</h3>
      <div class="project-footer-btns">
        <button class="open-lh--btn" data-tooltip-text="Open Audits Modal">Audits</button>
        <button class="open-overview--btn" data-tooltip-text="Open Overview Modal">Overview</button>
      </div>
    </div>
    <div class="project-footer__titles">
      <h4 class="project-footer__desc">lorem ipsum dolor</h4>
      <div class="pf-stacks">
        <div class="pf-stack"><img src="images/svg/filler.svg" alt="" style="height:32px;width:32px;"></div>
        <div class="pf-stack"><img src="images/svg/filler.svg" alt="" style="height:32px;width:32px;"></div>
      </div>
    </div>
  </div>
</div>
<aside class="project-cell-divider"></aside>
