<div class="floating-menu" data-floating-menu-loaded="false">
  <ul class="float-options">
    <li class="float-option">
      <a href="#" target="_self" rel="noreferrer" title="">
        <span data-proj-title-index="1.">lorem ipsum</span>
        <span>lorem ipsum</span>
      </a>
    </li>
    <li class="float-option">
      <a href="#" target="_self" rel="noreferrer" title="">
        <span data-proj-title-index="2.">lorem ipsum</span>
        <span>lorem ipsum</span>
      </a>
    </li>
    <li class="float-option">
      <a href="#" target="_self" rel="noreferrer" title="">
        <span data-proj-title-index="3.">lorem ipsum</span>
        <span>lorem ipsum</span>
      </a>
    </li>
    <li class="float-option">
      <a href="#" target="_self" rel="noreferrer" title="">
        <span data-proj-title-index="4.">lorem ipsum</span>
        <span>lorem ipsum</span>
      </a>
    </li>
        <li class="float-option">
      <a href="#" target="_self" rel="noreferrer" title="">
        <span data-proj-title-index="5.">lorem ipsum</span>
        <span>lorem ipsum</span>
      </a>
    </li>
  </ul>

  <span class="span-br-float"></span>
</div>