<article class="section-container projects-container" id="projects-top" style="z-index: 60 !important;">
  <div class="section-title section-projects-title">
    <h2>01 —</h2>
    <h3>PROJECTS</h3>
  </div>

  <div class="section-excerpt" data-section-excerpt="projects">
    <p class="skeleton-excerpt">Polished projects I've worked on in the past few years.</p>
  </div>

  {{> sections/projects/project-menu }}

  {{> sections/projects/project-picture-popup }}

  <div class="projects-grid">
    {{> sections/projects/project-card-tabs }}

    {{> sections/projects/project-card-no-tabs }}

    {{> sections/projects/project-card-no-tabs }}

    {{> sections/projects/project-card-no-tabs }}

    {{> sections/projects/project-card-no-tabs }}
  </div>

</article>