<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
  <title>Chase Ottofy - Front End Web Developer - Portfolio</title>
  <link type="image/png" href="images/favicon/favicon-32x32.png" rel="icon" sizes="32x32">
  <link rel="icon" href="images/svg/favicon.svg" sizes="any" type="image/svg+xml">
  <link href="style.scss" rel="stylesheet">
  <link rel="preload" href="images/design/top2.webp" as="image" type="image/webp">
  <script src="index.js" defer="defer"></script>
</head>

<body class="body theme__dark" data-disable-transitions="true" id="page-top" data-active-modal="false">
  {{> aside/top-gradients }}

  {{> header }}

  {{> aside/contact-menu-header }}

  {{> sections/intro/section-intro }}

  {{> main }}

  {{> aside/toast }}

  {{> aside/tooltips }}

  {{> footer }}
</body>

</html>