<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  {{> head}}
  <title>Chase Ottofy - Front End Web Developer - Portfolio</title>
  <link type="image/png" href="images/favicon/favicon-32x32.png" rel="icon" sizes="32x32">
  <link rel="icon" href="images/svg/favicon.svg" sizes="any" type="image/svg+xml">
  <link href="style.scss" rel="stylesheet">
  <link rel="preload" href="images/design/intro-pattern-hori3.png" as="image" type="image/png">
  <link rel="preload" href="images/fallback/fallback1.webp" as="image" type="image/webp">
  <link rel="preload" href="images/fallback/fallback2.webp" as="image" type="image/webp">
  <script src="index.js" defer="defer"></script>
  <script>
    const lt = localStorage.getItem('co-theme') || 'dark';
    document.documentElement.dataset.theme = lt;
    document.querySelector('meta[name="color-scheme"]').content = lt;
    document.querySelector('meta[name="theme-color"]').content = lt === 'dark' ? '#000' : '#fff';
  </script>
</head>

<body class="body" data-disable-transitions="false" id="page-top" data-active-modal="false">
  {{> aside/top-gradients }}

  {{> header }}

  {{> aside/contact-menu-header }}

  {{> sections/intro/section-intro }}

  {{> main }}

  {{> aside/toast }}

  {{> aside/tooltips }}

  {{> footer }}
</body>

</html>