<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chase Ottofy - Front End Web Developer - Portfolio</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000">
  <meta name="color-scheme" content="dark">
  <meta name="author" content="Chase Ottofy">
  <meta name="description" content="Chase Ottofy: Front-end Web">
  <meta name="keywords" content="ottofy, chase ottofy, ottofy portfolio, chaseottofy, chase ottofy, chase ottofy portfolio, front end developer, front end, javascript, react developer, react">
  <meta property="og:title" content="Chase Ottofy Portfolio">
  <meta property="og:description" content="Front End Web Developer specializing in the most current web technologies, namely React, TypeScript, and Next.js. Strong foundation in the fundamentals of Web Develpment, I'm capable and willing to take on any new technology or framework.">
  <meta property="og:site_name" content="Portfolio">
  <meta property="og:url" content="https://ottofy.dev">
  <meta name="robots" content="index, follow">
  <link type="image/png" href="images/favicon/favicon-32x32.png" rel="icon" sizes="32x32">
  <link rel="icon" href="images/svg/favicon.svg" sizes="any" type="image/svg+xml">
  <link href="style.scss" rel="stylesheet">
  <link rel="preload" href="images/design/top2.webp" as="image" type="image/webp">
  <script src="index.js" defer="defer"></script>
</head>

<body class="body theme__dark" data-disable-transitions="true" id="page-top" data-active-modal="false">
  {{> aside/top-gradients }}

  {{> header }}

  {{> aside/contact-menu-header }}

  {{> sections/intro/section-intro }}

  {{> main }}

  {{> aside/toast }}

  {{> aside/tooltips }}

  {{> footer }}
</body>

</html>