.floating-menu {
  width: 100%;
  height: auto;
  margin: 1rem auto 4rem auto;
  padding: 1.5rem 0;
  z-index: var(--z-modal);
  max-width: var(--max-width-md);
}

.floating-menu--fixed {
  position: fixed;
  top: var(--header-height);
}

.float-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.float-options li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 .25rem;
  position: relative;
  min-height: 90px;
}

.float-options li a {
  justify-content: center;
  display: flex;
  padding: 1rem .5rem 1rem 1.25rem;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  background: transparent;
  line-height: 1.2;
  color: var(--white1);
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 500;
  transition: background .15s ease;
}

.float-options li a span:first-child::before {
  content: attr(data-proj-title-index);
  opacity: .7;
  font-size: .925rem;
  line-height: 1.3rem;
  letter-spacing: -.05em;
  position: absolute;
  left: .5rem;
  font-weight: 400;
}

.float-options li a span:last-child {
  font-size: 80%;
  margin-top: .25rem;
  font-weight: 400;
  text-transform: uppercase;
  transform: scaleY(.9);
  opacity: .85;
}

.float-options li a:hover {
  text-shadow: 1px 1px 12px var(--offsetsecondary2);
  background: var(--black1);
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
  transition-property: background, border, text-shadow;
}

@media screen and (max-width: 720px) {
  .float-options li a {
    font-size: max(1.125rem, 16px);
    padding: 1rem .25rem;
  }

  .float-options li a span:first-child::before {
    display: none;
  }
}