.hover-context--wrapper {
  position:absolute;
  top:0;
  left:0;
  z-index: 9999;
  height:2.5rem;
  padding: 0 .75rem;
  border-radius: var(--gap1);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black1);
}

.hover-context {
  font-size: .875rem;
}