.lighthouse-modal--wrapper {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  animation: ease-modal-in 100ms both;
  background: rgb(0 0 0 / .6);
}

.hide-lh-modal {
  display: none;
}

.lighthouse-modal {
  display: flex;
  overflow: hidden;
  width: 90%;
  max-width: 900px;
  height: auto;
  max-height: 80vh;
  flex-direction: column;
  border: 1px solid var(--black2);
  border-radius: var(--br-1);
  background: var(--black1);
}

/* HEADER
============================ */
.lighthouse-modal__header {
  display: flex;
  min-height: 5rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--black1);
}

.lh-appname {
  background-clip: text;
  background-image: linear-gradient(90deg,
      var(--white1) 0%,
      var(--accent-7) 80%);
  background-size: 100% 200%;
  color: transparent;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -.5px;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  transform: scaleY(.88);
}

.close-lh-btn {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid var(--accent-2);
  border-radius: var(--br-1);
  margin: 0;
  background: var(--black1);
  color: var(--accent-7);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  transform: scaleX(115%);
}

.close-lh-btn:hover {
  background: var(--accent-1);
}

/* BODY
============================ */
.lighthouse-modal__body {
  display: grid;
  width: 100%;
  height: calc(100% - 4rem);
  grid-template-areas:
    "main sub sub"
    "main sub sub";
  grid-template-columns: 1fr auto auto;
  overflow-y: auto;
}

/* GRID :: MAIN
============================ */
.lh-main {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  min-width: 200px;
  max-width: 320px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg,
      var(--black0) 40%,
      var(--black1));
  box-shadow: 0 0 0 1px var(--black2);
  filter: drop-shadow(0 8px 30px rgb(0 0 0 / .12));
  grid-area: main;
}

.lh-main::before {
  position: absolute;
  left: 100%;
  width: 14px;
  height: 14px;
  border-top: 1px solid var(--black2);
  border-right: 1px solid var(--black2);
  background: var(--black0);
  border-top-right-radius: 2px;
  content: "";
  transform: translateX(-45%) rotate(45deg);
}

.lh-main__score {
  position: relative;
  display: flex;
  width: 8rem;
  height: 8rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  border-radius: var(--br-half);
  background: #16cf6b;
  color: #fff;
  font-size: 1.75rem;
  font-weight: 500;
}

.lh-main__score::after {
  position: absolute;
  width: 90%;
  height: 90%;
  border: 8px solid #fff;
  border-radius: var(--br-half);
  margin: auto;
  content: "";
  inset: 0;
}

.lh-main__score-title {
  position: relative;
  overflow: hidden;
  height: 2.5rem;
  padding: 0 1.5rem;
  border: 1px solid var(--black3);
  border-radius: var(--br-1);
  margin: 1.5rem 0 1.5rem 0;
  background: linear-gradient(to right bottom,
      var(--black4),
      var(--black0),
      var(--accent-1));
  color: var(--white0);
  font-size: .875rem;
  font-weight: 500;
  line-height: 2.5rem;
}

.lh-main__score-title:hover {
  background: var(--black2);
}

.lh-main__score-subtitle {
  padding: 0 .5rem;
  color: var(--white1);
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.4;
  opacity: .8;
}

/* GRID :: SUB
============================ */
.lh-sub {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1.5rem;
  border: none;
  text-align: left;
}

.lh-sub:nth-child(-n + 3) {
  border-bottom: 1px solid var(--black2);
}

.lh-sub:nth-child(even) {
  border-right: 1px solid var(--black2);
}

.lh-sub-title {
  width: 100%;
  color: var(--white1);
  font-size: 1rem;
  font-weight: 500;
}

.lh-sub__metrics {
  display: flex;
  width: 100%;
  height: 2.5rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.lh-sub__metrics-title {
  margin-top: .75rem;
  color: #1aad5f;
  font-size: 1.375rem;
  font-weight: 500;
}

.lh-sub__metrics-sm {
  margin-left: 6px;
  color: var(--white1);
  font-size: .875rem;
  font-weight: 500;
  opacity: .8;
}

.lh-sub__metrics-score {
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  align-items: center;
  justify-content: center;
  border: 2px solid #16cf6b;
  border-radius: var(--br-half);
  color: var(--white2);
  font-size: .875rem;
}

.lh-sub hr {
  width: 100%;
  height: 1px;
  border: none;
  margin: 1.25rem 0;
  background: var(--black2);
}

.lh-sub-subtitle {
  color: var(--white1);
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.4;
  opacity: .8;
}

@media screen and (max-width:768px) {
  .lighthouse-modal {
    height: 100%;
  }

  .lighthouse-modal__body {
    display: grid;
    width: 100%;
    grid-template-areas:
      "main"
      "sub"
      "sub"
      "sub";
    grid-template-columns: 1fr;
  }

  .lh-main {
    width: 100%;
    max-width: 100%;
  }

  .lh-main::before {
    top: 100%;
    left: unset;
    background: var(--black1);
    transform: translateY(-45%) rotate(135deg);
  }

  .lh-sub:nth-child(-n + 3) {
    border-bottom: 1px solid var(--black3);
  }

  .lh-sub:nth-child(even) {
    border-bottom: 1px solid var(--black3);
  }

  .lh-sub {
    max-width: 100%;
    height: 200px;
    border-bottom: 1px solid var(--black3);
  }
}

@media screen and (max-width: 490px) {
  .lighthouse-modal {
    width: 100%;
  }
}