.lighthouse-modal--wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgba(0, 0, 0, .6);
  animation: ease-modal-in 100ms both;
}

.hide-lh-modal {
  display: none;
}

.lighthouse-modal {
  height: 90%;
  max-height: 500px;
  width: 90%;
  max-width: 900px;
  border-radius: 1rem;
  border: 1px solid rgba(12, 206, 107, .2);
  background: var(--black1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* HEADER
============================ */
.lighthouse-modal__header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--black1);
  border-bottom: 1px solid rgba(12, 206, 107, .1);
}

.lh-appname {
  font-size: 1.125rem;
  letter-spacing: -.5px;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient(90deg,
      var(--white1) 0%,
      var(--accent-7) 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200%;
  transform: scaleY(.88);
  font-weight: 500;
}

.close-lh-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.25rem;
  width: 2.25rem;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.125rem;
  background: var(--black1);
  color: var(--accent-7);
  border: 1px solid var(--accent-2);
  transform: scaleX(115%);
}

.close-lh-btn:hover {
  background: var(--accent-1);
}

/* BODY
============================ */
.lighthouse-modal__body {
  height: calc(100% - 4rem);
  overflow-y: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-areas:
    "main sub sub"
    "main sub sub";
}

/* GRID :: MAIN
============================ */
.lh-main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-width: 320px;
  min-height: 240px;
  min-width: 200px;
  background: linear-gradient(180deg,
      var(--black0) 40%,
      var(--black1));
  width: 100%;
  box-shadow: 0 0 0 1px var(--black2);
  filter: drop-shadow(0 8px 30px rgba(0, 0, 0, .12));
  z-index: 2;
}

.lh-main::before {
  content: "";
  background: var(--black0);
  width: 14px;
  height: 14px;
  position: absolute;
  left: 100%;
  border-right: 1px solid var(--black2);
  border-top: 1px solid var(--black2);
  border-top-right-radius: 2px;
  transform: translateX(-45%) rotate(45deg);
}

.lh-main__score {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  width: 8rem;
  background: #16cf6b;
  color: #fff;
  font-weight: 700;
  font-size: 1.75rem;
  border-radius: 50%;
  justify-content: center;
  position: relative;
}

.lh-main__score::after {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 90%;
  height: 90%;
  border: 8px solid #fff;
  border-radius: 50%;
  content: "";
}

.lh-main__score-title {
  border: 1px solid var(--black3);
  height: 2.5rem;
  border-radius: 5px;
  font-weight: 500;
  position: relative;
  background: linear-gradient(to right bottom,
      var(--black4),
      var(--black0),
      var(--accent-1));
  padding: 0 1.5rem;
  margin-top: 1.5rem;
  font-size: .875rem;
  overflow: hidden;
  line-height: 2.5rem;
  color: var(--white0);
}

.lh-main__score-title:hover {
  background: var(--black2);
}

.lh-main__score-subtitle {
  font-size: .875rem;
  font-weight: 400;
  color: var(--white1);
  opacity: .8;
  line-height: 1.4;
  padding: 0 .5rem;
}

/* GRID :: SUB
============================ */
.lh-sub {
  max-width: 290px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5rem;
  border: none;
  width: 100%;
  height: 210px;

  /* max-height: 210px; */
  text-align: left;
}

.lh-sub:nth-child(-n + 3) {
  border-bottom: 1px solid var(--black2);
}

.lh-sub:nth-child(even) {
  border-right: 1px solid var(--black2);
}

.lh-sub-title {
  font-size: 1rem;
  color: var(--white1);
  font-weight: 500;
  width: 100%;
}

.lh-sub__metrics {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  width: 100%;
  height: 2.5rem;
}

.lh-sub__metrics-title {
  margin-top: .75rem;
  font-size: 1.375rem;
  font-weight: 700;
  color: #1aad5f;
}

.lh-sub__metrics-sm {
  font-size: .875rem;
  color: var(--white1);
  opacity: .8;
  font-weight: 500;
  margin-left: 6px;
}

.lh-sub__metrics-score {
  border: 2px solid #16cf6b;
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .875rem;
  color: var(--white2);
}

.lh-sub hr {
  border: none;
  background: var(--black2);
  height: 1px;
  margin: 1.25rem 0;
  width: 100%;
}

.lh-sub-subtitle {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--white1);
  opacity: .8;
  line-height: 1.4;
}

@media screen and (max-width:768px) {
  .lighthouse-modal {
    max-height: 90%;
    height: 100%;
  }

  .lighthouse-modal__body {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-areas:
      "main"
      "sub"
      "sub"
      "sub";
  }

  .lh-main {
    width: 100%;
    max-width: 100%;
  }

  .lh-main::before {
    background: var(--black1);
    left: unset;
    top: 100%;
    transform: translateY(-45%) rotate(135deg);
  }

  .lh-sub:nth-child(-n + 3) {
    border-bottom: 1px solid var(--black3);
  }

  .lh-sub:nth-child(even) {
    border-bottom: 1px solid var(--black3);
  }

  .lh-sub {
    max-width: 100%;
    height: 160px;
    border-bottom: 1px solid var(--black3);
  }
}