.popup-picture {
  position: fixed;
  display: flex;
  overflow: hidden;
  height: 100vh;
  flex-direction: column;
  margin: auto;
  background: var(--offsetblack0);
  inset: 0;
}

.popup-picture__header {
  overflow: hidden;
  width: 100%;
  height: var(--header-height);
}

.popup-picture__header-content {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
  background: var(--offsetblack0);
}

.popup-picture__info {
  width: 100%;
  color: var(--white1);
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
}

.popup-picture__close {
  width: 5rem;
  height: 2.5rem;
  border: 1px solid var(--white2);
  cursor: pointer;
  font-size: 1.25rem;
}

.popup-picture__close:hover {
  background: var(--accent-3);
}

.popup-picture__imgwrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - var(--header-height));
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
}

.popup-picture img {
  position: relative;
  height: 100%;
  filter: contrast(1.1) grayscale(10%);
  image-rendering: -o-crisp-edges;
  object-fit: contain;
  object-position: center;
}

.popup-picture img::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--black2);
  content: '';
}
