.project-float--wrapper {
  position: fixed;
  bottom: 2rem;
  right: 0;
  left: 0;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  user-select: none;
  pointer-events: none;
  display: flex;
  justify-content: center;
  opacity:0;
  z-index: -1;
  transform: scale(.9);
  transition-property: opacity, z-index, transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.project-float--active {
  transform: scale(1);
  opacity: 1;
  user-select: auto;
  z-index: var(--z-modal);
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
}

.float__menu {
  display:flex;
  justify-content: space-between;
  width: 100%;
  max-width: 480px;
  border-radius: 10px;
  align-items: center;
  padding: .5rem;
  background: var(--float-btn);
  border: 1px solid var(--black2);
  height: 3.5rem;
  color: white;
}

/* .float__menu .float-project--icon {
  height: 2.75rem;
  width: 2.75rem;
  display:flex;
  justify-content:center;
  align-items: center;
}

.float-project--icon__gc {
  background-image: url("../../images/logos/googleCalendar.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(1);
} */
