.project-overview--wrapper {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  animation: ease-modal-in 100ms both;
  background: rgb(0 0 0 / .4);
}

.project-overview--modal {
  display: flex;
  overflow: hidden;
  width: 90%;
  max-width: 900px;
  height: 90%;
  max-height: 1200px;
  flex-direction: column;
  background: var(--black4);
}

.hide-po {
  display: none;
}

.po-header {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgb(50 145 255 / 0.15);
  background: linear-gradient(210deg,
      rgb(50 145 255 / 0.05),
      var(--black4));
}

.po-header--title {
  line-height: .8;
}

.po-header--title h3 {
  background-clip: text;
  background-image: linear-gradient(90deg,
      var(--white1) 0%,
      var(--accent-7) 80%);
  background-size: 100% 200%;
  color: transparent;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -.5px;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  transform: scaleY(.92);
}

.po-header--title span {
  color: var(--white2);
  font-size: .875rem;
}

.po-header--close {
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid var(--accent-2);
  border-radius: var(--br-1);
  margin: 0;
  background: var(--black1);
  color: var(--accent-7);
  cursor: pointer;
  font-size: 1.125rem;
  transform: scaleX(115%);
}

.po-header--close:hover {
  background: var(--accent-1);
}

.po-body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 2rem;
  background: linear-gradient(to bottom,
      var(--black0),
      var(--black4) 50%);
  overflow-y: scroll;
}

.po-body hr {
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--black2);
  border-bottom: 1px solid var(--black2);
  margin: .5rem 0;
}

.po-title {
  display: flex;
  height: 3.5rem;
  align-items: center;
  padding-left: 1rem;
  margin-top: 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
}

.po-title:first-child {
  margin-top: 0;
}

.po-horiz {
  width: 100%;
  height: 2rem;
  margin: 1rem 0;
}

.proj-overview--links {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 .5rem;
  margin: 1rem 0 4rem;
}

.proj-overview--links a {
  position: relative;
  overflow: hidden;
  height: 2.5rem;
  padding: 0 2rem;
  border: 1px solid var(--black3);
  border-radius: var(--br-1);
  margin: .25rem;
  background: linear-gradient(to right bottom,
      var(--black4),
      var(--black0),
      var(--accent-1));
  color: var(--white0);
  font-size: .875rem;
  font-weight: 500;
  line-height: 2.5rem;
  text-transform: capitalize;
}

.proj-overview--links a:hover {
  border: 1px solid var(--white1);
  background: linear-gradient(to right bottom, var(--black2), var(--black1), var(--accent-1));
  color: var(--white1);
}

.po-list {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  list-style-type: circle;
}

.po-list--item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin: .5rem 0;
  line-height: 1.25;
  list-style: circle;
  opacity: .9;
}

.po-list--item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "- ";
}