.project-overview--wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgba(0, 0, 0, .4);
  animation: ease-modal-in 100ms both;
}

.project-overview--modal {
  height: 90%;
  max-height: 1200px;
  width: 90%;
  max-width: 900px;
  border-radius: 1rem;
  border: 1px solid rgba(50, 145, 255, 0.2);
  background: var(--black4);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hide-po {
  display: none;
}

.po-header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(210deg,
      rgba(50, 145, 255, 0.05),
      var(--black4));
  border-bottom: 1px solid rgba(50, 145, 255, 0.15);
}

.po-header--title {
  line-height: .8;
}

.po-header--title h3 {
  text-transform: uppercase;
  letter-spacing: -.5px;
  color: transparent;
  background-image: linear-gradient(90deg,
      var(--white1) 0%,
      var(--accent-7) 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200%;
  font-weight: 500;
  transform: scaleY(.92);
  font-size: 1.125rem;
}

.po-header--title span {
  font-size: .875rem;
  color: var(--white2);
}

.po-header--close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.25rem;
  width: 2.25rem;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.125rem;
  background: var(--black1);
  color: var(--accent-7);
  border: 1px solid var(--accent-2);
  transform: scaleX(115%);
}

.po-header--close:hover {
  background: var(--accent-1);
}

.po-body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 2rem;
  overflow-y: scroll;
  background: linear-gradient(to bottom,
      var(--black0),
      var(--black4) 50%
    );
}

.po-body hr {
  height: 1px;
  width: 100%;
  margin: .5rem 0;
  border-top: 1px solid var(--black2);
  border-bottom: 1px solid var(--black2);
}

.po-title {
  text-transform: uppercase;
  height: 3.5rem;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding-left: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.po-title:first-child {
  margin-top: 0;
}

.po-horiz {
  height: 2rem;
  margin: 1rem 0;
  width: 100%;
}

.proj-overview--links {
  display: flex;
  margin: 1rem 0 4rem;
  padding: 0 .5rem;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.proj-overview--links a {
  border: 1px solid var(--black3);
  text-transform: capitalize;
  height: 2.5rem;
  border-radius: 5px;
  font-weight: 500;
  position: relative;
  background: linear-gradient(to right bottom,
      var(--black4),
      var(--black0),
      var(--accent-1));
  padding: 0 2rem;
  margin: .25rem;
  font-size: .875rem;
  overflow: hidden;
  line-height: 2.5rem;
  color: var(--white0);
}

.proj-overview--links a:hover {
  color: var(--white1);
  border: 1px solid var(--white1);
  background: linear-gradient(to right bottom, var(--black2), var(--black1), var(--accent-1));
}

.po-list {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  list-style-type: circle;
}

.po-list--item {
  position: relative;
  display: flex;
  align-items: center;
  margin: .5rem 0;
  line-height: 1.25;
  list-style: circle;
  opacity: .9;
  padding-left: 1rem;
}

.po-list--item::before {
  content: "- ";
  position: absolute;
  top: 0;
  left: 0;
}