.scroll-top {
  height: 2.5rem;
  width: 100%;
  max-width: 1380px;
  border-radius: 4px;
  position: fixed;
  bottom: 1rem;
  right: 0;
  left:0;
  margin: 0 auto;
  display:flex;
  justify-content: flex-end;
  padding: 0 .5rem;
  z-index: var(--z-aside);
}

.scroll-top--btn {
  width:2.5rem;
  height:100%;
  border-radius: 6px;
  background: var(--offsetblack2);
  box-shadow: var(--bs-md);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 150ms ease-in-out;
}

.scroll-top--btn svg {
  height: 1.5rem;
  width: 1.5rem;
}

.scroll-top--btn:hover {
  background: var(--black2);
}

.hide-scroll-top {
  z-index: -1;
  pointer-events: none;
  user-select: none;
  opacity: 0;
  background: transparent;
}