.scroll-top {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 8000;
}

.scroll-top--btn {
  width:100%;
  height:100%;
  border-radius: 50%;
  background: var(--offsetblack2);
  box-shadow: var(--bs-md);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 150ms ease-in-out;
}

.scroll-top--btn svg {
  height: 26px;
  width: 26px;
}

.scroll-top--btn:hover {
  background: var(--black2);
}

.hide-scroll-top {
  z-index: -1;
  pointer-events: none;
  user-select: none;
  opacity: 0;
  background: transparent;
}