.spinner-wrapper {
  display: flex;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate(2rem, 2rem);
}

.spinner-cell {
  position: absolute;
  top: -3.9%;
  left: -10%;
  width: 24%;
  height: 8%;
  border-radius: var(--br-1);
  animation: spin 1.2s linear infinite;
  background: var(--accent-6);
}