.theme-modal {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  z-index: var(--z-sidebar);
}

.theme-switch {
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 10rem;
  justify-content: space-between;
  border-radius: 1.5rem;
  align-items: center;
  position: relative;
  box-shadow: var(--bs-md);
}

.theme-switch span {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-switch span input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  position: absolute;
  z-index: -1;
}

.theme-switch span label {
  display: flex;
  background: transparent;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .4);
}

.theme-switch span label svg {
  fill: transparent;
  stroke: var(--header-text-before);
  opacity: 1;
  height: 1rem;
  width: 1rem;
}

.theme-switch span input:checked + label svg {
  stroke: var(--white0);
}

.theme-switch span input:checked + label {
  background: var(--theme-btn--checked);
}

.theme-switch span:hover label svg,
.theme-switch span:focus-visible label svg {
  stroke: var(--black0);
}

.theme-switch span:hover label,
.theme-switch span:focus-visible label {
  background: var(--white0);
}