.theme-modal {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  z-index: var(--z-sidebar);
}

.theme-switch {
  display: flex;
  flex-direction: row;
  height: 3rem;
  width: 9rem;
  justify-content: space-around;
  border-radius: 9999px;
  border: 1px solid #333;
  align-items: center;
  position: relative;
  box-shadow: var(--bs-md);
  background: rgba(51, 51, 51, .2);
}

.theme-switch span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}

.theme-switch span input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  position: absolute;
  z-index: -1;
}

.theme-switch span label {
  display: flex;
  background: transparent;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
  color: var(--white1);
}

.theme-switch span label img {
  height: 1rem;
  width: 1rem;
  opacity: .8;
}

.theme-switch span label:hover img {
  opacity: 1;
}

.theme-switch span input:checked + .theme-label--two img {
  filter: invert(1);
  opacity: 1;
}

.theme-switch span input:focus-visible + label {
  /* box-shadow: 0 0 0 2px var(--blue3); */
  background: var(--blue2) !important;
}

.theme-switch span input:checked + label {
  background: var(--accent-3);
  box-shadow: var(--bs-md);
}