.toast-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 90vw;
  margin: 0 auto;
  width: 100%;
  user-select: none;
  pointer-events: none;
  z-index: 9999;
}

.toast {
  right: 0;
  left:0;
  margin: 0 auto;
  bottom: 2rem;
  min-width: 160px;
  max-width: 280px;
  max-height: 3rem;
  height: 100%;
  width: auto;
  position: absolute;
  border-radius: 6px;
  background: var(--black1);
  box-shadow: var(--bs-lg);
  color: var(--white1);
  transition: var(--ttoast1);
  padding: 1.5rem;
  display: flex;
  align-items: center;
}

.toast--2 {
  transform: scaleX(.95);
  opacity: .9;
}

.toast--3 {
  transform: scaleX(.85);
  opacity: .75;
}

.toast--4 {
  transform: scaleX(.75);
  opacity: .55;
}

.hide-toast {
  opacity: 0;
}

.toast-progress {
  height: 4px;
  width: 100%;
  background: var(--white2);
  border-radius: 2px;
  position: absolute;
  top: 1px;
  left: 0;
  z-index: 2;
}

.toast-progress--length {
  height: 4px;
  width: 100%;
  background: transparent;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.toast-message {
  font-size: .95rem;
  letter-spacing: -.5px;
  color: var(--white1);
  font-weight: 500;
}