.tooltip {
  position: absolute;
  z-index: 10000;
  font-size: .75rem;
  /* padding: .5rem; */
  border-radius: 5px;
  background: var(--black2);
  box-shadow: var(--bs-md);
  color: var(--white1);
  height: 3rem;
  line-height: 3rem;
  /* width: 12rem; */
  padding: 0 1rem;
  text-align: center;
}